<div id="sidebar" class="uitab-menu-eer" lang="{{$root.locale.lang}}">
  <ul class="list-group mjh-eerbc">
    <li>
      <a ui-sref-active="active" class="list-group-item" ui-sref="front.electionAnalysis.Among-The-Candidates-In-A-Constituency-About-How-Much-Money-Spent">
        {{'Among the candidates in a constituency about how much money spent'|translate}}
      </a>
    </li>
    <li>
      <a ui-sref-active="active" class="list-group-item" ui-sref="front.electionAnalysis.Among-All-The-Candidates-For-300-Constituencies-About-Money-Spent-Percentage">
        {{'Among all the candidates for 300 constituencies about money spent percentage'|translate}}
      </a>
    </li>
    <li>
      <a ui-sref-active="active" class="list-group-item" ui-sref="front.electionAnalysis.Between-The-Elected-Male-And-Female-Candidates-On-Average-Campaign-Expenses">
        {{'Between the elected male and female candidates on average campaign expenses'|translate}}
      </a>
    </li>
  </ul>
</div>
