
<div class="jumbotron" lang="{{$root.locale.lang}}">
  <h1 style="font-size: 24px;">{{'Contact Us'|translate}}</h1>
  <p></p>
</div>
<div class="row" ng-show="$root.locale.lang == 'bn_BD'">
  <div class="col-xs-12 col-lg-12" lang="{{$root.locale.lang}}">
      সুজন সচিবালয়<br/>
      হেরাল্ডিক হাইটস, ২/২, (লেভেল-৪, বি-৪), ব্লক-এ, মিরপুর রোড, <br/>
      ফোন: ৯১৩ ০৪৭৯ ও ৯১৪ ৬১৯৫, ফ্যাক্স: ৯১৪ ৬১৯৫<br/>
      email: shujan.info@gmail.com<br/>
      web: www.shujan.org
  </div>
</div>


<div class="row">
  <div class="col-xs-12 col-lg-12" ng-show="$root.locale.lang != 'bn_BD'">
    <div class="col-xs-12 col-lg-12" lang="{{$root.locale.lang}}">
      2/2, Mirpur Road, Mohammadpur, Dhaka- 1207,Bangladesh
      phone: 812-7975,<br/>
      Fax: 88-02-811-6812<br/>
      Email : shujan.info@gmail.com,<br/>
      Web: www.en.shujan.org
    </div>
  </div>
</div>
