
<div class="jumbotron" lang="{{$root.locale.lang}}">
  <h1 style="font-size: 24px;">{{'Conditions For Membership'|translate}}</h1>
  <p></p>
</div>
<div class="row" ng-show="$root.locale.lang == 'bn_BD'">
  <div class="col-xs-12 col-lg-12" lang="{{$root.locale.lang}}">
    <ul>
      <li>
        <p><strong>সুজন-এর প্রাথমিক সদস্যপদ অর্জনের শর্তাবলী:</strong></p>
      </li>
      <li>
        <p># ন্যূনতম ১৮ বছর বয়স হতে হবে।</p>
      </li>
      <li>
        <p># প্রত্যেক সদস্যকে ১০০ টাকা ভর্তি ফিসহ নির্ধারিত হারে বার্ষিক/মাসিক সদস্য ফি প্রদান করতে হবে।</p>
      </li>
      <li>
        <p># ঋণ খেলাপী, কর খেলাপী, বিল খেলাপী, কালো টাকার মালিক, ফৌজদারী মামলায় সাজাপ্রাপ্ত ও সাম্প্রদায়িক মনোভাবাপন্ন ব্যক্তি সুজনের সদস্য হতে পারবেন না।</p>
      </li>
      <li>
        <p># রাজনীতিতে সক্রিয়ভাবে জড়িত ব্যক্তিগণ সুজন-এর প্রাথমিক সদস্য হতে পারবেন, তবে কোনো কমিটির পদ গ্রহণ করতে পারবেন না।</p>
      </li>
      <li>
        <p>শর্তপূরণ সাপেক্ষে আপনি আগ্রহী হলে, এই লিংক থেকে ফরমটি ডাউনলোড/প্রিন্ট করে পূরণ করুন এবং ‘সুজন’ সচিবালয় বরাবর পাঠিয়ে দিন।</p>
      </li>
      <li class="mjh-conditionsLink">
        <a href="https://endotshujandotorg.files.wordpress.com/2014/12/shujan_membership_form.pdf">{{'shujan membership form pdf'|translate}}</a><br/>
        <a href="http://en.shujan.org/join-us/member-form">{{'member form'|translate}}</a><br/>
        <a href="http://en.shujan.org/join-us/conditions-for-membership">{{'conditions for membership'|translate}}</a>
      </li>
    </ul>
  </div>
</div>


<div class="row">
  <div class="col-xs-12 col-lg-12" ng-show="$root.locale.lang != 'bn_BD'">
    <div class="col-xs-12 col-lg-12" lang="{{$root.locale.lang}}">
      <ul>
        <li>
          <p><strong>Preliminary requirements for SHUJAN membership</strong></p>
        </li>
        <li>
          <p>Minimum 18 years old</p>
        </li>
        <li>
          <p> Each member has to give yearly/monthly fee including TK. 100 for membership</p>
        </li>
        <li>
          <p>Loan/tax/bill defaulter, black money owner, sentenced for criminal case, and communal minded are not eligible for membership</p>
        </li>
        <li>
          <p>Keen person who is actively involved with political party are eligible for primary membership but can not hold any post in any committee</p>
        </li>
        <li>
          <p>If you are interest under this condition, fill up this form by downloading/printing this form from this link and send it to
            SHUJAN secretariat.</p>
        </li>
        <li>
          <a href="https://endotshujandotorg.files.wordpress.com/2014/12/shujan_membership_form.pdf">link 1</a><br/>
          <a href="http://en.shujan.org/join-us/member-form">link 2</a><br/>
          <a href="http://en.shujan.org/join-us/conditions-for-membership">link 3</a>
        </li>
      </ul>
    </div>
  </div>
</div>

