
<div class="jumbotron" lang="{{$root.locale.lang}}">
  <h1 style="font-size: 24px;">{{'Goals and Objectives'|translate}}</h1>
  <p></p>
</div>
<div class="row" ng-show="$root.locale.lang == 'bn_BD'">
  <div class="col-xs-12 col-lg-12" lang="{{$root.locale.lang}}">
    <p>নির্বাচন গণতন্ত্রের অন্যতম গুরুত্বপূর্ণ পূর্বশর্ত। জনগণ ভোট দিয়ে তাদের প্রতিনিধি নির্বাচনের মাধ্যমে শাসন প্রক্রিয়ায় অংশগ্রহণ করে থাকে। ভোটারগণ যাতে সঠিক প্রতিনিধি নির্বাচন করতে পারেন সে জন্য প্রার্থীদের সম্পর্কে তথ্যপ্রাপ্তি অত্যন্ত জরুরি, কারণ এটি ভোটারদের মৌলিক অধিকারের অন্তর্ভুক্ত।
  </p>
    <p>ভারতীয় সুপ্রিম কোর্টের মতে,'নির্বাচনের ক্ষেত্রে ভোট প্রদান ভোটারদের বক্তব্য বা বাকস্বাধীনতার অন্তর্ভূক্ত, অর্থাৎ ভোটাররা বক্তব্য দেন অথবা বাকস্বাধীনতা প্রয়োগ করেন ভোট প্রদানের মাধ্যমে। এ কারণে নির্বাচনে অংশগ্রহণকারী প্রার্থীদের সম্পর্কে তথ্য পাওয়া জরুরি।
    </p>
    <p>আমাদের হাইকোর্টও বলেছেন,' প্রার্থীদের সম্পর্কে জনগণের জানার অধিকার রয়েছে এবং এ জানার অধিকার তাদের ভোটাধিকারের অন্তর্ভূক্ত। কিন্তু আমাদের দেশে নির্বাচনের প্রার্থীগণ তাদের সম্পর্কে ভোটারদেরকে সামান্যই অবহিত করে থাকেন। ফলে ভোটারগণ ভোট দেয়ার ক্ষেত্রে সাধারণত মার্কা, দল, স্থানীয় প্রভাব বা অর্থের বিনিময়ে ভোট দিয়ে থাকেন। ফলশ্রুতিতে নির্বাচনে ভোটারদের প্রত্যাশা প্রতিফলিত হয় না।
    </p>
    <p>এই প্রেক্ষাপটে 'সুজন' সুশাসনের জন্য নাগরিক গত ২০০২ সালে ইউনিয়ন পরিষদের নির্বাচনের প্রাক্কালে প্রার্থীদের সম্পর্কে ভোটারদের ক্ষমতায়নের কাজ শুরু করে এবং প্রার্থীদের বিভিন্ন তথ্য সংগ্রহ করে জনগণের মাঝে বিতরন করে। এরই ধারাবাহিকতায় নবম জাতীয় সংসদ নির্বাচনকে সামনে রেখে বিভিন্ন রাজনৈতিক দলের প্রার্থীদের সম্পর্কে তথ্য সন্নিবেশিত ও প্রকাশ করা নিয়ে তৈরী হয়েছে "বাংলাদেশের ভোট" নামক একটি ওয়েব সাইট। প্রার্থীদের ব্যক্তিগত, রাজনৈতিক, অর্থনৈতিক ও সামাজিক তথ্য নিয়ে তৈরী করা হয়েছে প্রার্থী প্রোফাইল। এর ফলে ভোটারগণ প্রার্থীদের সম্পর্কে জেনে, শুনে এবং বুঝে ভোট দেয়ার সিদ্ধান্ত গ্রহণ করতে পারবে। প্রার্থী সম্পর্কে দেয়া তথ্য ভোটারদের প্রার্থী নির্বাচনের ক্ষেত্রে সহায়তা করলে আমাদের প্রচেষ্টা সার্থক হবে।
    </p>
  </div>
</div>



<div class="row">
  <div class="col-xs-12 col-lg-12" ng-show="$root.locale.lang != 'bn_BD'">
    <p><strong>Goals and objectives:</strong> To establish democracy and good governance in all sectors of the state and the society and to build a self reliant motherland including representation of democratic institutions will be the main goal of SHUJAN.</p>
    <p>The objectives in achieving the goal will be:</p>
    <ol>
      <li>To make aware, active, clamorous, and organize the citizens with a view to ensuring impose of laws, upkeep of human rights, equality, integrity, fairness, transparency, and accountability i.e. ensuring democratic practice in all sectors of the society</li>
      <li>To toil as a pressure group and to uphold peoples’ voice with a view to desired reforming in all the regarding concerns and to play role of an onlooker and attentive concierge in this regards of desired change</li>
    </ol>
    <h3>GOAL AND OBJECTIVES</h3>
    <p>Election is one of the most important preconditions for democracy. Through election, people elect their representatives; thus, take part in ruling process. Getting information about candidature profiles is important to the voters to elect their right representatives, because it includes in basic rights.</p>
    <p>"In case of election, casting vote includes voters’ statement or freedom of voice i.e through voting, voters apply their statements or freedom of voices. Hence, getting information about the contesting candidates is must", <strong>(Indian High Court).</strong> </p>
    <p>Ratifying this, our High Court also says, "Citizens have right to know about the candidates; and this right belongs to right for vote. But, the candidates here in our country explore about them little bit to the voters in the elections. As a result, voters apply their voting right based on symbol, party, local factors or in exchange of money. Voters’ expectation is not reflected in such type of election".</p>
    <p>On this ground, prior to UP election 2002, SHUJAN-Citizens for Good Governance starts its journey to empower voters. Collecting a number of information about the candidates, these are distributed among the community people. As a part of its continuous process, targeting the 9th national parliament election, VOTEBD web portal is launched having objective to accumulate and publish information about the candidates of various political parties. <strong>Dr. ATM Shamsul Huda</strong>, Chief Election Commissioner, inaugurated the <strong>VOTEBD</strong> website on 3th July. He talked up the site and did his commitment to assist by providing information. Candidates’ profile is created having personal, political, economical, and social information.  This enables the voters to take decision after being aware of candidates. Our effort will taste its fruit, if provided information become helpful for the voters in selecting their candidates. </p>
    <p></p>
  </div>
</div>
