<div class="mjh-otherElectionShow">
<header>
  <h3>Upazilla Election 2014</h3>
</header>
<div class="row">
  <div class="col-sm-6">
    <ul class="mjh-lists mjh-electionexpanse">
      <li ui-sref="front.home.upazilla-election.upaz-affidavit" ui-sref-active="active">
        <div class="mjh-icon"><i class="fa fa-pie-chart"></i></div>
        <div class="mjh-iconDetail"><a ui-sref="front.home.upazilla-election.upaz-affidavit">{{'Affidavit Based Comparision'|translate}}</a></div>
      </li>
      <li ui-sref="front.home.upazilla-election.upaz-fsee" ui-sref-active="active">
        <div class="mjh-icon"><i class="fa fa-pie-chart"></i></div>
        <div class="mjh-iconDetail"><a ui-sref="front.home.upazilla-election.upaz-fsee">{{'Probable Fund Source for Election Expense Based Comparision'|translate}}</a></div>
      </li>
      <li ui-sref="front.home.upazilla-election.upaz-alie" ui-sref-active="active">
        <div class="mjh-icon"><i class="fa fa-pie-chart"></i></div>
        <div class="mjh-iconDetail"><a ui-sref="front.home.upazilla-election.upaz-alie">{{'Assets/Liability/Income/Expense Based Analysis'|translate}}</a></div>
      </li>
      <li ui-sref="front.home.upazilla-election.upaz-eer" ui-sref-active="active">
        <div class="mjh-icon"><i class="fa fa-pie-chart"></i></div>
        <div class="mjh-iconDetail"><a ui-sref="front.home.upazilla-election.upaz-eer">{{'Election Expense Return Based Comparison'|translate}}</a></div>
      </li>
    </ul>
  </div>
  <!--ui-view-->
  <div class="col-sm-6">
    <div class="mjh-lists mjh-electionexpanse mjh-commonStyle" ui-view="cityCorporation">
      <ul class="mjh-lists">
        <li ui-sref="front.candidateComparisonAffidavit.Asset-Comparison-Of-Own-Dependent">
          <div class="mjh-icon"><i class="fa fa-pie-chart"></i></div>
          <div class="mjh-iconDetail"><a>{{'Asset comparison of own, dependent'|translate}}</a></div>
        </li>
        <li ui-sref="front.candidateComparisonAffidavit.Income-Comparison-Of-Own-Dependent">
          <div class="mjh-icon"><i class="fa fa-pie-chart"></i></div>
          <div class="mjh-iconDetail"><a ui-sref="front.candidateComparisonAffidavit.Income-Comparison-Of-Own-Dependent">{{'Income comparison of own, dependent'|translate}}</a></div>
        </li>
        <li ui-sref="front.candidateComparisonAffidavit.Candidate-Income-Tax-And-Family-Expense">
          <div class="mjh-icon"><i class="fa fa-pie-chart"></i></div>
          <div class="mjh-iconDetail"><a ui-sref="front.candidateComparisonAffidavit.Candidate-Income-Tax-And-Family-Expense">{{'Candidate Income Tax and Family Expense'|translate}}</a></div>
        </li>
        <li ui-sref="front.candidateComparisonAffidavit.Liability-Comparison-Of-Own-Dependent">
          <div class="mjh-icon"><i class="fa fa-pie-chart"></i></div>
          <div class="mjh-iconDetail"><a ui-sref="front.candidateComparisonAffidavit.Liability-Comparison-Of-Own-Dependent">{{'Liability Comparison of own, dependent'|translate}}</a></div>
        </li>
        <li ui-sref="front.candidateComparisonAffidavit.Neat-Asset-Comparison-Of-Own-Dependent">
          <div class="mjh-icon"><i class="fa fa-pie-chart"></i></div>
          <div class="mjh-iconDetail"><a ui-sref="front.candidateComparisonAffidavit.Neat-Asset-Comparison-Of-Own-Dependent">{{'Neat Asset Comparison of own, dependent'|translate}}</a></div>
        </li>
      </ul>
    </div>
  </div><!--ui-view-end-->
</div><!--row-end-->
</div>
