<div class="jumbotron" lang="{{$root.locale.lang}}">
  <h2>{{'Estimated Prices of dwelling houses to the same candidate'|translate}}</h2>
</div>
<div class="row">
  <div class="col-xs-12 col-lg-12">
    <div class="clearfix">
      <h3 lang="{{$root.locale.lang}}" class="pull-left">{{'Total'|translate}} {{candidateList.candidateList.length |
        translateNumber}}
        {{'Candidates Analysis Report' | translate}}</h3>

      <h3 class="btn btn-primary pull-right" ng-click="exportTable('exportable')">export excel</h3>
    </div>
    <div id="exportable"><div class="table-responsive">
      <table class="table table-hover table-bordered" lang="{{$root.locale.lang}}">
        <thead>
        <tr>
          <th class="text-center">{{'Name'|translate}}</th>
          <th class="text-center">{{candidateList.one | translateNumber}} {{'Election'|translate}}</th>
          <th class="text-center">{{candidateList.two | translateNumber}} {{'Election'|translate}}</th>
          <th class="text-center">{{'Change'|translate}}</th>
          <th class="text-center">{{'Ratio'|translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in candidateList.candidateList">
          <td>{{row.one.candidateName}}</td>
          <td>{{row.one.housePropertyTotalPriceALIE | translateNumber}}</td>
          <td>{{row.two.housePropertyTotalPriceALIE | translateNumber}}</td>
          <td>{{(row.two.housePropertyTotalPriceALIE - row.one.housePropertyTotalPriceALIE) | translateNumber}}</td>
          <td>{{(row.one.housePropertyTotalPriceALIE | ratio : row.two.housePropertyTotalPriceALIE) | translateNumber}}%</td>

        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
</div>
