  <div class="candidate-comparison-title">
    <div class="container about-us-cont2">
      <div class="ze-title">
        <h2>{{'Candidate Info Analysis'|translate}} </h2>
        <p>{{'Seat wise Candidate Profile Comparison'|translate}}</p>
        <!--<p>See Analitical Report based on Election</p>-->
      </div>
    </div>
  </div>
  <div class="container">
    <div class="candidate-search-form">
      <formly-form model="ctrl.electionSeat" fields="ctrl.formFields" options="ctrl.formOptions"></formly-form>
      <div class="control-btn" style="overflow: hidden">
        <div class="col-md-6">
          <div ng-disabled="form.$invalid" class="btn btn-search" ng-click="ctrl.submit(ctrl.electionSeat)">
            {{'SEARCH'|translate}}
          </div>
        </div>
        <div class="col-md-6">
          <button type="button" class="btn btn-default btnreset" ng-click="ctrl.formOptions.resetModel()">{{'Reset'|translate}}</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid " >
    <p class="pull-right visible-xs">
      <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
    </p>
    <button ng-click="exportDoc('exportedTable')">export</button>
    <button ng-click="ConvertToTextArea('exportedTable')">export doc</button>
    <div class="col-xs-12 table-responsive candidate-search-form"  style="height: 600px">
      <div lang="{{$root.locale.lang}}" id="exportedTable" ng-include="'modules/f-candidate-comparison/views/candidate-comparison/table.html'"></div>
    </div>
    <!--/.col-xs-12.col-sm-9-->
    <!--<pre>{{candidateComparisonData}}</pre>-->
  </div>

