<div class="panel panel-default">
  <div class="panel-heading">
    <a href="" ui-sref="^.list" class="btn btn-xs btn-default"><i class="fa fa-arrow-left"></i></a>
    {{ctrl.candidatePost.postNameBn}}

    <span class="pull-right btn-group">
    <a href="" class="btn btn-xs btn-default" ui-sref="^.edit({candidatePostId: ctrl.candidatePost.id})">
      <i class="fa fa-pencil"></i>
    </a>
    <a href="" class="btn btn-xs btn-default" ui-sref="^.delete({candidatePostId: ctrl.candidatePost.id})">
      <i class="fa fa-trash-o"></i>
    </a>
  </span>
  </div>
  <div class="panel-body">
    <!--<pre>{{ctrl.candidatePost | json}}</pre>-->
    <label>Post Name (Bangla) : </label> <span> {{ctrl.candidatePost.postNameBn}} </span><br/>
    <label>Post Name (English) : </label> <span> {{ctrl.candidatePost.postNameEn}} </span><br/>
    <label>Post Responsibility (Bangla) : </label> <span> {{ctrl.candidatePost.postDescResponsibilityBn}} </span>
  </div>
</div>
