
<ul class="list-group mjh-affi" lang="{{$root.locale.lang}}">
  <!--<h3 class="header">{{'Affidavit Based Analysis'|translate}}</h3>-->
  <li><a  ui-sref-active="active" class="list-group-item xtra-class" ui-sref="front.candidateAnalysis.occupationAnalysis">{{'Profession'|translate}}</a></li>
  <li><a  ui-sref-active="active" class="list-group-item xtra-class" ui-sref="front.candidateAnalysis.caseAnalysis">{{'Case'|translate}}</a></li>
  <li><a  ui-sref-active="active" class="list-group-item xtra-class" ui-sref="front.candidateAnalysis.educationAnalysis">{{'Education'|translate}}</a></li>
  <li><a  ui-sref-active="active" class="list-group-item xtra-class" ui-sref="front.candidateAnalysis.genderAnalysis">{{'Gender'|translate}}</a></li>
  <li><a  ui-sref-active="active" class="list-group-item xtra-class" ui-sref="front.candidateAnalysis.ageAnalysis">{{'Age'|translate}}</a></li>
  <li><a  ui-sref-active="active" class="list-group-item xtra-class" ui-sref="front.candidateAnalysis.assetAnalysis">{{'Assets'|translate}}</a></li>
  <li><a  ui-sref-active="active" class="list-group-item xtra-class" ui-sref="front.candidateAnalysis.loanAnalysis">{{'Loan'|translate}}</a></li>
  <li><a  ui-sref-active="active" class="list-group-item xtra-class" ui-sref="front.candidateAnalysis.liabilityAnalysis">{{'Liabilities'|translate}}</a></li>
  <li><a  ui-sref-active="active" class="list-group-item xtra-class" ui-sref="front.candidateAnalysis.incomeAnalysis">{{'Yearly Income'|translate}}</a></li>
  <li><a  ui-sref-active="active" class="list-group-item xtra-class" ui-sref="front.candidateAnalysis.taxReturnSummary">{{'Tax Return Summary'|translate}}</a></li>
  <li><a  ui-sref-active="active" class="list-group-item xtra-class" ui-sref="front.candidateAnalysis.assetSummary">{{'Asset Summary'|translate}}</a></li>
  <li><a  ui-sref-active="active" class="list-group-item xtra-class" ui-sref="front.candidateAnalysis.commitmentAndAchievementAnalysis">{{'Commitment And Achievement'|translate}}</a></li>
</ul>
