<div id="sidebar" class="uitab-menu-eer" lang="{{$root.locale.lang}}">
  <!--<h3 class="header">{{'Election Expense Return Based Analysis'|translate}}</h3>-->
  <ul class="list-group mjh-eerbn">
    <li><a  ui-sref-active="active" class="list-group-item" ui-sref="front.electionAnalysis.Candidate-List-who-did-not-submit-the-return-of-election-expenses">{{'Candidate List, who did not submit the return of election expenses'|translate}}</a></li>
    <li><a  ui-sref-active="active" class="list-group-item" ui-sref="front.electionAnalysis.Candidate-List-who-have-submitted-not-submitted-Election-Expenses-Return">{{'Candidate List, who have submitted/not submitted Election Expenses Return'|translate}}</a></li>
    <li><a  ui-sref-active="active" class="list-group-item" ui-sref="front.electionAnalysis.Case-list-by-ECB-for-non-compliance-of-submitting-the-election-expenses-return">{{'Case list by ECB for non-compliance of submitting the election expenses return'|translate}}</a></li>
    <li><a  ui-sref-active="active" class="list-group-item" ui-sref="front.electionAnalysis.Constituency-wise-money-spent-by-the-candidates-for-campaigning">{{'Constituency wise money spent by the candidates for campaigning'|translate}}</a></li>
    <li><a  ui-sref-active="active" class="list-group-item" ui-sref="front.electionAnalysis.List-of-candidates-of-those-who-spent-more-than-spending-limits">{{'List of candidates of those who spent more than spending limits'|translate}}</a></li>
    <li><a  ui-sref-active="active" class="list-group-item" ui-sref="front.electionAnalysis.Range-wise-money-spent-by-the-candidates-for-campaigning">{{'Range wise money spent by the candidates for campaigning'|translate}}</a></li>
  </ul>
</div>
