
<ul class="list-group mjh-fsee" lang="{{$root.locale.lang}}">
  <!--<h3 class="header">{{'Probable Fund Source for Election Expense Based Analysis'|translate}}</h3>-->
  <li><a ui-sref-active="active" class="list-group-item"  ui-sref="front.candidateAnalysis.pfse-pi-to-meet-election-expense">{{'Total Probable Income to Meet Election Expense'|translate}}</a></li>
  <li><a ui-sref-active="active" class="list-group-item"  ui-sref="front.candidateAnalysis.pfse-pi-from-donation">{{'Probable Income From Donation'|translate}}</a></li>
  <li><a ui-sref-active="active" class="list-group-item"  ui-sref="front.candidateAnalysis.pfse-pi-from-loan">{{'Probable Income From Loan'|translate}}</a></li>
  <li><a ui-sref-active="active" class="list-group-item"   ui-sref="front.candidateAnalysis.pfse-pi-which-exceeds-spending-limits">{{'Probable Income which Exceeds Spending Limits'|translate}}</a></li>
  <li><a ui-sref-active="active" class="list-group-item"  ui-sref="front.candidateAnalysis.pfse-cw-candidate-count">{{'Constituency wise Candidates Count which Exceeds Probable Income Spending Limits'|translate}}</a></li>
  <li><a ui-sref-active="active" class="list-group-item"  ui-sref="front.candidateAnalysis.pfse-bo-who-commits-for-donation">{{'List of business organizations who commits for donation to the candidates'|translate}}</a></li>
</ul>
