<div class="jumbotron" lang="{{$root.locale.lang}}">
  <h2>{{'Political Parties spent money for election'|translate}}</h2>
</div>
<form class="form-horizontal" ng-hide="true">
  <div class="form-group">
    <label class="col-sm-3 control-label" lang="{{$root.locale.lang}}">{{'Minimum Total Income Amount'|translate}}</label>
    <div class="col-sm-9" lang="{{$root.locale.lang}}">
      <input  type="number" class="form-control" ng-model="piDonation.limit">
    </div>
  </div>
</form>
<div class="row">
  <div class="col-xs-12 col-lg-12">
    <div class="table-responsive">
      <table class="table table-hover table-bordered" lang="{{$root.locale.lang}}">
        <thead>
        <tr>
          <td>{{'Political Party Name'|translate}}</td>
          <td>{{'Grand Total Amount'|translate}}</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in politicalPartyData">
          <td>{{row.politicalPartyNameEn}}</td>
          <td>{{row.grandTotalAmount | number:0 | translateNumber}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
