<table class="table table-bordered">
  <tbody><tr>
    <td align="center"><h1>হলফনামা  &nbsp; &nbsp; অংশ/পাতা - (১)</h1></td>
  </tr>
  </tbody></table>

<table class="table table-bordered">
  <tbody>
  <tr>
    <td>&nbsp;</td>
    <td><div align="right">নির্বাচনী এলাকার নম্বর ও নাম:</div></td>
    <td><input class="formtextbng extraborder" ng-model="gotCandidate.constituencyNameNumberAF" size="50" type="text" ></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><div align="right">আমি (প্রার্থীর নাম):</div></td>
    <td><input class="formtextbng extraborder" ng-model="gotCandidate.candidateNameBnAF" size="50" type="text" ></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><div align="right">জন্ম তারিখ(dd-mm-yyyy):</div></td>
    <td>
      <input class="formtextbng extraborder" ng-model="gotCandidate.candidateDateOfBirthBnAF" size="50" type="text" placeholder="dd-mm-yyyy" >
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><div align="right">বয়স:</div></td>
    <td>
      <input class="formtextbng extraborder" ng-model="gotCandidate.ageYearsAF" size="10" type="text" placeholder="বৎসর"> বৎসর &nbsp;
      <input class="formtextbng extraborder" ng-model="gotCandidate.ageMonthsAF" size="10" type="text" placeholder="মাস"> মাস &nbsp;
      <input class="formtextbng extraborder" ng-model="gotCandidate.ageDaysAF" size="10" type="text" placeholder="দিন"> দিন
      &nbsp;&nbsp; (মনোনয়নপত্র দাখিলের তারিখে)
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><div align="right">পিতার নাম:</div></td>
    <td><input class="formtextbng extraborder" ng-model="gotCandidate.fatherNameBnAF" size="50" type="text" ></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><div align="right">মাতার নাম:</div></td>
    <td><input class="formtextbng extraborder" ng-model="gotCandidate.motherNameBnAF" size="50" type="text" ></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><div align="right">স্বামী/স্ত্রীর নাম:</div></td>
    <td><input class="formtextbng extraborder" ng-model="gotCandidate.spouseNameBnAF" size="50" type="text" ></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><div align="right">বর্তমান ঠিকানা:</div></td>
    <td><textarea class="formtextbng extraborder" ng-model="gotCandidate.presentAddressBnAF" cols="35" rows="2"></textarea></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><div align="right">স্থায়ী ঠিকানা:</div></td>
    <td><textarea class="formtextbng extraborder" ng-model="gotCandidate.permanentAddressBnAF" cols="35" rows="2"></textarea></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><div align="right">জাতীয় পরিচয়পত্র নম্বর:</div></td>
    <td><input class="formtextbng extraborder" ng-model="gotCandidate.nidNumberAF" size="50" type="text" ></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><div align="right">আমি জন্ম নাগরিকত্বধারী:</div></td>
    <td>
      <label><input type="radio" ng-model="gotCandidate.isBirthCitizenAF" value="yes"> হ্যা</label> &nbsp;&nbsp;
      <label><input type="radio" ng-model="gotCandidate.isBirthCitizenAF" value="no"> না</label>
      &nbsp;&nbsp; (নির্বাচন করুন) &nbsp;&nbsp;
      <span ng-show="gotCandidate.isBirthCitizenAF == 'yes'">তবে নাগরিকত্বধারী দেশের নাম: <input class="formtextbng extraborder" ng-model="gotCandidate.citizenCountryNameAF" size="20" type="text"></span>
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><div align="right">আমি পূর্বে জন্ম নাগরিকত্বধারী ছিলাম এবং তা পরিত্যাগ করিয়াছি:</div></td>
    <td>
      <label><input type="radio" ng-model="gotCandidate.wasPreviousCitizenAF" value="yes"> হ্যা</label> &nbsp;&nbsp;
      <label><input type="radio" ng-model="gotCandidate.wasPreviousCitizenAF" value="no"> না</label>
      &nbsp;&nbsp; (নির্বাচন করুন)
    </td>
  </tr>
  <tr ng-show="gotCandidate.wasPreviousCitizenAF == 'yes'">
    <td>&nbsp;</td>
    <td><div align="right">নাগরিকত্বধারী দেশের নাম:</div></td>
    <td><input class="formtextbng extraborder" ng-model="gotCandidate.previousCitizenCountryAF" size="50" type="text" ></td>
  </tr>
  <tr ng-show="gotCandidate.wasPreviousCitizenAF == 'yes'">
    <td>&nbsp;</td>
    <td><div align="right">নাগরিকত্ব ত্যাগের তারিখ:</div></td>
    <td><input class="formtextbng extraborder" ng-model="gotCandidate.citizenshipRenounceDate" size="50" type="text" placeholder="dd-mm-yyyy"></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><div align="right">প্রার্থীর ছবি:</div></td>
    <td>
      <form name="myForm" enctype="multipart/form-data">
        <input type="file" ngf-select ng-model="picFile" name="candidatePhoto" accept="image/*" ngf-max-size="2MB" required ngf-model-invalid="errorFile" />
        <i ng-show="myForm.candidatePhoto.$error.required">*required</i><br>
         <i ng-show="myForm.candidatePhoto.$error.maxSize">File too large
             {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
         <img ng-show="myForm.candidatePhoto.$valid" ngf-thumbnail="picFile" class="thumb">
         <button ng-click="picFile = null" ng-show="picFile">Remove</button> &nbsp; &nbsp;
         <br>
         <button ng-disabled="!myForm.$valid"
                 ng-click="uploadPic(picFile)">Upload</button>
         <span class="progress" ng-show="picFile.progress >= 0">
           <div style="width:{{picFile.progress}}%"
                ng-bind="picFile.progress + '%'">
           </div>
         </span>
         <span ng-show="picFile.result">Upload Successful</span>
         <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
       </form>
       <input type="hidden" ng-model="gotCandidate.candidatePhoto">
    </td>

  </tr>
  <tr>
    <td>&nbsp;</td>
    <td align="right"><div align="right">সীট নং:</div></td>
    <td align="right"><div align="right">
      <input class="formtextbng extraborder" ng-model="gotCandidate.seatInfoBnAF" size="30" type="text">
    </div></td>
    <!--<td>আসনে&nbsp;&nbsp;-->
      <!--<select ng-options="item.id as item.postNameBn for item in electionCandidatePosts" ng-model="gotCandidate.electionCandidatePostId"></select>-->
      <!--পদে নির্বাচনে প্রার্থীরূপে প্রতিদ্বন্দ্বিতা করিতে ইচ্ছুক।</td>-->
  </tr>
  <tr>
    <td>১</td>
    <td>আমার সবোর্চ্চ শিক্ষাগত যোগ্যতা </td>
    <td><input class="formtextbng extraborder" ng-model="gotCandidate.highestDegreeBnAF" size="30" type="text"  >
      &nbsp;&nbsp;<br/>(  উত্তীর্ণ পরিক্ষার নাম )</td>
  </tr>
  <tr>
    <td width="3%"><div align="center">১.১</div></td>
    <td width="46%"><div align="left">আমার শিক্ষাগত যোগ্যতা  প্রকার  </div></td>
    <td><div align="left">
      <select ng-model="gotCandidate.degreeTypeBnAF" >
        <option value="এসএসসির নীচে">এসএসসির নীচে</option>
        <option value="এসএসসি">এসএসসি</option>
        <option value="এইচএসসি">এইচএসসি</option>
        <option value="স্নাতক" selected="selected">স্নাতক</option>
        <option value="স্নাতকোত্তর">স্নাতকোত্তর</option>
        <option value="স্বশিক্ষিত">স্বশিক্ষিত</option>
        <option value="পিএইচডি">পিএইচডি</option>
        <option value="উল্লেখ নেই">উল্লেখ নেই</option>
      </select>
    </div>
    </td>
  </tr>
  <tr>
    <td colspan="3"><strong>অভিযোগসমূহ:</strong></td>
  </tr>
  <tr>
    <td>২</td>
    <td colspan="3"><div align="left">ক. আমি কখনই ফৌজদারি মামলায় অভিযুক্ত হইনি: যদি সঠিক হয়, টিক () চিহ্ন দিন
      <label><input type="radio" ng-model="gotCandidate.neverChargedCriminalAF" value="yes"> হ্যা</label> &nbsp;
      <label><input type="radio" ng-model="gotCandidate.neverChargedCriminalAF" value="no"> না</label>
    </div></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan="2"><div align="left">খ. বর্তমানে আমার বিরুদ্ধে বিদ্যমান ফৌজদারি মামলার বিবরণ: <span ng-show="gotCandidate.neverChargedCriminalAF == 'yes'">প্রযোজ্য নয়।</span></div> <span ng-click="ctrl.submit()" class="pull-right btn btn-xs ng-binding btn-success"><i class="fa fa-floppy-o"></i> Save Order</span>  <span ng-click="ctrl.changeCaseListOrder('present_case')" class="pull-right btn btn-xs ng-binding btn-success"><i class="fa fa-arrows-v"></i> Change Order</span> </td>
  </tr>
  <tr><td  class="tdvalign">
    <a class="btn btn-success" ng-click="ctrl.add_lawPresentAF()" title="ADD MORE FIELD ">
      <i class="fa fa-plus"></i></a>&nbsp;
    <a class="btn btn-danger" ng-click="ctrl.delete_lawPresentAF();" title="DELETE LAST FIELD ">
      <i class="fa fa-minus"></i></a>
  </td>
    <td colspan="2"><table class="table table-bordered">
      <tbody id="present_cases" ui-sortable ng-model="gotCandidate.lawPresentAF">
      <tr>
        <td width="7%" height="30">ক্রমিক নং</td>
        <td width="32%" align="center">যে আইন ও আইনের ধারায় মামলাদায়ের করা হইয়াছে</td>
        <td width="28%" align="center">যে আদালত মামলাটি আমলে নিয়াছে </td>
        <td width="16%" align="center">মামলা নম্বর</td>
        <td width="17%" align="center">মামলার বর্তমান অবস্থা</td>
      </tr>
      <tr ng-repeat="lpr in gotCandidate.lawPresentAF">
        <td height="34" align="center" style="cursor: move;">{{($index+1)|translate}}</td>
        <td><textarea class="formtextbng extraborder"  cols="15" ng-model="lpr.whichLaw"></textarea></td>
        <td><textarea class="formtextbng extraborder"  cols="15" ng-model="lpr.whichCourt"></textarea></td>
        <td><textarea class="formtextbng extraborder"  cols="15" ng-model="lpr.courtFileNo"></textarea></td>
        <td><textarea class="formtextbng extraborder"  cols="15" ng-model="lpr.currentStatusResult"></textarea></td>
      </tr>
      </tbody>
    </table>  </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><div align="right">মামলার মোট সংখ্যা:</div></td>
    <td><input class="formtextbng extraborder" ng-model="gotCandidate.totalPresentCasesAF" size="20" type="text"></td>
  </tr>
  <tr>
    <td>৩</td>
    <td colspan="3"><div align="left">ক. অতীতে আমার বিরুদ্ধে কোন ফৌজদারী মামলা দায়ের করা হয় নাই
      <input class="formtextbng extraborder" ng-model="gotCandidate.pastCriminalCourtStatusAF"  type="checkbox" ng-checked="gotCandidate.pastCriminalCourtStatusAF">
    </div></td>
  </tr>
  <tr>
    <td class="tdvalign"><a class="btn btn-success" ng-click="ctrl.add_lawPastAF()" title="ADD MORE FIELD ">
      <i class="fa fa-plus"></i></a>&nbsp;
      <a class="btn btn-danger" ng-click="ctrl.delete_lawPastAF();" title="DELETE LAST FIELD ">
        <i class="fa fa-minus"></i></a></td>
    <td colspan="2"><table class="table table-bordered">
      <tbody id="past_cases" ui-sortable ng-model="gotCandidate.lawPastAF">
      <tr>
        <td height="30" colspan="5"><div align="left">খ. অতীতে আমার বিরুদ্ধে কোন ফৌজদারী মামলা বা মামলাসমূহ এবং উহার ফলাফলের বিবরণ:</div>
          <span ng-click="ctrl.submit()" class="pull-right btn btn-xs ng-binding btn-success"><i class="fa fa-floppy-o"></i> Save Order</span>  <span ng-click="ctrl.changeCaseListOrder('past_case')" class="pull-right btn btn-xs ng-binding btn-success"><i class="fa fa-arrows-v"></i> Change Order</span>
        </td>
      </tr>
      <tr>
        <td width="5%" height="30">ক্রমিক নং</td>
        <td width="25%" align="center">যে আইন ও আইনের ধারায় মামলা দায়ের করা হইয়াছে</td>
        <td width="20%" align="center">যে আদালতে মামলাটি দায়ের করা হইয়াছে</td>
        <td width="12%" align="center">মামলা নম্বর</td>
        <td width="12%" align="center">মামলা দায়েরের বছর</td>
        <td width="12%" align="center">মামলা নিষ্পত্তি বছর</td>
        <td width="14%" align="center">মামলার ফলাফল</td>
      </tr>

      <tr ng-repeat="lpr in gotCandidate.lawPastAF">
        <td height="34" align="center" style="cursor: move;">{{($index+1)|translate}}</td>
        <td><textarea class="formtextbng extraborder" cols="12" ng-model="lpr.whichLaw"></textarea></td>
        <td><textarea class="formtextbng extraborder" cols="12" ng-model="lpr.whichCourt"></textarea></td>
        <td><textarea class="formtextbng extraborder" cols="8" ng-model="lpr.courtFileNo"></textarea></td>
        <td><input class="formtextbng extraborder" type="text" ng-model="lpr.caseFiledYear" size="8"></td>
        <td><input class="formtextbng extraborder" type="text" ng-model="lpr.caseSettledYear" size="8"></td>
        <td><textarea class="formtextbng extraborder" cols="10" ng-model="lpr.currentStatusResult"></textarea></td>
      </tr>
      </tbody>
    </table>	</td></tr>
  <tr>
    <td>&nbsp;</td>
    <td><div align="right">মামলার মোট সংখ্যা:</div></td>
    <td><input class="formtextbng extraborder" ng-model="gotCandidate.totalPastCasesAF" size="20" type="text"></td>
  </tr>
  <tr>
    <td colspan="3"><strong>৪. পেশা:</strong></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><div align="right">ক.১. আমার বর্তমান পেশা:</div></td>
    <td>
      <select ng-model="gotCandidate.currentProfessionAF">
        <option value="কৃষি">কৃষি</option>
        <option value="ব্যবসা">ব্যবসা</option>
        <option value="চাকুরি">চাকুরি</option>
        <option value="আইনজীবী">আইনজীবী</option>
        <option value="রাজনীতিবিদ">রাজনীতিবিদ</option>
        <option value="শিক্ষকতা">শিক্ষকতা</option>
        <option value="গৃহিণী">গৃহিণী</option>
        <option value="উল্লেখ নেই">উল্লেখ নেই</option>
        <option value="অন্যান্য">অন্যান্য</option>
      </select>
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><div align="right">ক.২. আমার পূর্বতন পেশা:</div></td>
    <td>
      <select ng-model="gotCandidate.previousProfessionAF">
        <option value="কৃষি">কৃষি</option>
        <option value="ব্যবসা">ব্যবসা</option>
        <option value="চাকুরি">চাকুরি</option>
        <option value="আইনজীবী">আইনজীবী</option>
        <option value="রাজনীতিবিদ">রাজনীতিবিদ</option>
        <option value="শিক্ষকতা">শিক্ষকতা</option>
        <option value="গৃহিণী">গৃহিণী</option>
        <option value="উল্লেখ নেই">উল্লেখ নেই</option>
        <option value="অন্যান্য">অন্যান্য</option>
      </select>
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><div align="right">খ. আমার স্বামী/স্ত্রীর পেশা:</div></td>
    <td>
      <select ng-model="gotCandidate.spouseProfessionAF">
        <option value="কৃষি">কৃষি</option>
        <option value="ব্যবসা">ব্যবসা</option>
        <option value="চাকুরি">চাকুরি</option>
        <option value="আইনজীবী">আইনজীবী</option>
        <option value="রাজনীতিবিদ">রাজনীতিবিদ</option>
        <option value="শিক্ষকতা">শিক্ষকতা</option>
        <option value="গৃহিণী">গৃহিণী</option>
        <option value="উল্লেখ নেই">উল্লেখ নেই</option>
        <option value="অন্যান্য">অন্যান্য</option>
      </select>
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><div align="right">গ. আমার স্বামী/স্ত্রীর পূর্বতন পেশা:</div></td>
    <td>
      <select ng-model="gotCandidate.spousePreviousProfessionAF">
        <option value="কৃষি">কৃষি</option>
        <option value="ব্যবসা">ব্যবসা</option>
        <option value="চাকুরি">চাকুরি</option>
        <option value="আইনজীবী">আইনজীবী</option>
        <option value="রাজনীতিবিদ">রাজনীতিবিদ</option>
        <option value="শিক্ষকতা">শিক্ষকতা</option>
        <option value="গৃহিণী">গৃহিণী</option>
        <option value="উল্লেখ নেই">উল্লেখ নেই</option>
        <option value="অন্যান্য">অন্যান্য</option>
      </select>
    </td>
  </tr>
  <tr>
    <td colspan="3"><strong>৫. নির্ভরশীলদের পেশার তালিকা:</strong></td>
  </tr>
  <tr>
    <td class="tdvalign">
      <a class="btn btn-success" ng-click="ctrl.add_dependentsAF()" title="ADD MORE FIELD">
        <i class="fa fa-plus"></i></a>&nbsp;
      <a class="btn btn-danger" ng-click="ctrl.delete_dependentsAF();" title="DELETE LAST FIELD">
        <i class="fa fa-minus"></i></a>
    </td>
    <td colspan="2">
      <table class="table table-bordered">
        <tbody>
        <tr>
          <td width="8%" align="center">ক্রমিক নং</td>
          <td width="30%" align="center">নাম</td>
          <td width="18%" align="center">ডিওবি/বয়স</td>
          <td width="24%" align="center">জন্মনিবন্ধন নম্বর</td>
          <td width="20%" align="center">মন্তব্য</td>
        </tr>
        <tr ng-repeat="dep in gotCandidate.dependentsAF">
          <td align="center">{{($index+1)|translate}}</td>
          <td><input class="formtextbng extraborder" ng-model="dep.name" size="25" type="text"></td>
          <td><input class="formtextbng extraborder" ng-model="dep.dobOrAge" size="12" type="text"></td>
          <td><input class="formtextbng extraborder" ng-model="dep.birthRegNo" size="18" type="text"></td>
          <td><input class="formtextbng extraborder" ng-model="dep.remarks" size="15" type="text"></td>
        </tr>
        </tbody>
      </table>
      <small>*প্রয়োজনে অতিরিক্ত কাগজ ব্যবহার করুন</small>
      <p><small><strong>বিশেষ দ্রষ্টব্য:</strong> গণপ্রতিনিধিত্ব আদেশ, ১৯৭২ এর ধারা ১২ এর উপ ধারা ৩(ঙ) অনুযায়ী "নির্ভরশীল" অর্থ প্রার্থী স্ত্রী বা স্বামী এবং তাহার উপর সম্পূর্ণ নির্ভরশীল পুত্র, কন্যা, পিতা, মাতা, ভাই বা বোন।</small></p>
    </td>
  </tr>
  <tr>
    <td>৬</td>
    <td colspan="2"><div align="left">আয়ের উৎস (আমার এবং নির্ভরশীলদের আয়ের উৎস):</div></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan="2">
      <table class="table table-bordered">
        <tbody>
        <tr>
          <td rowspan="2" width="5%" align="center">ক্রমিক</td>
          <td rowspan="2" width="25%" align="center">আয়ের উৎস বিবরণ</td>
          <td colspan="2" align="center">আমার বার্ষিক আয়</td>
          <td colspan="2" align="center">নির্ভরশীলদের বার্ষিক আয়</td>
        </tr>
        <tr>
          <td align="center">দেশের ভেতরে</td>
          <td align="center">দেশের বাইরে</td>
          <td align="center">দেশের ভেতরে</td>
          <td align="center">দেশের বাইরে</td>
        </tr>
        <tr>
          <td align="center">১</td>
          <td>কৃষিখাত</td>
          <td><input type="text" class="formtextbng extraborder" ng-model="gotCandidate.income1OwnDomesticAF" size="12"></td>
          <td><input type="text" class="formtextbng extraborder" ng-model="gotCandidate.income1OwnForeignAF" size="12"></td>
          <td><input type="text" class="formtextbng extraborder" ng-model="gotCandidate.income1DepDomesticAF" size="12"></td>
          <td><input type="text" class="formtextbng extraborder" ng-model="gotCandidate.income1DepForeignAF" size="12"></td>
        </tr>
        <tr>
          <td align="center">২</td>
          <td>বাড়ি/এপার্টমেন্ট/বাণিজ্যিক স্থান/অন্যান্য স্থাবর সম্পত্তি</td>
          <td><input type="text" class="formtextbng extraborder" ng-model="gotCandidate.income2OwnDomesticAF" size="12"></td>
          <td><input type="text" class="formtextbng extraborder" ng-model="gotCandidate.income2OwnForeignAF" size="12"></td>
          <td><input type="text" class="formtextbng extraborder" ng-model="gotCandidate.income2DepDomesticAF" size="12"></td>
          <td><input type="text" class="formtextbng extraborder" ng-model="gotCandidate.income2DepForeignAF" size="12"></td>
        </tr>
        <tr>
          <td align="center">৩</td>
          <td>শেয়ার জমা</td>
          <td><input type="text" class="formtextbng extraborder" ng-model="gotCandidate.income3OwnDomesticAF" size="12"></td>
          <td><input type="text" class="formtextbng extraborder" ng-model="gotCandidate.income3OwnForeignAF" size="12"></td>
          <td><input type="text" class="formtextbng extraborder" ng-model="gotCandidate.income3DepDomesticAF" size="12"></td>
          <td><input type="text" class="formtextbng extraborder" ng-model="gotCandidate.income3DepForeignAF" size="12"></td>
        </tr>
        <tr>
          <td align="center">৪</td>
          <td>ব্যবসা</td>
          <td><input type="text" class="formtextbng extraborder" ng-model="gotCandidate.income4OwnDomesticAF" size="12"></td>
          <td><input type="text" class="formtextbng extraborder" ng-model="gotCandidate.income4OwnForeignAF" size="12"></td>
          <td><input type="text" class="formtextbng extraborder" ng-model="gotCandidate.income4DepDomesticAF" size="12"></td>
          <td><input type="text" class="formtextbng extraborder" ng-model="gotCandidate.income4DepForeignAF" size="12"></td>
        </tr>
        <tr>
          <td align="center">৫</td>
          <td>শেয়ার, বন্ড/সঞ্চয়পত্র/ব্যাংক আমানত</td>
          <td><input type="text" class="formtextbng extraborder" ng-model="gotCandidate.income5OwnDomesticAF" size="12"></td>
          <td><input type="text" class="formtextbng extraborder" ng-model="gotCandidate.income5OwnForeignAF" size="12"></td>
          <td><input type="text" class="formtextbng extraborder" ng-model="gotCandidate.income5DepDomesticAF" size="12"></td>
          <td><input type="text" class="formtextbng extraborder" ng-model="gotCandidate.income5DepForeignAF" size="12"></td>
        </tr>
        <tr>
          <td align="center">৬</td>
          <td>পেশা (যেমন: শিক্ষকতা, চিকিৎসা, আইন, পরামর্শক ইত্যাদি)</td>
          <td><input type="text" class="formtextbng extraborder" ng-model="gotCandidate.income6OwnDomesticAF" size="12"></td>
          <td><input type="text" class="formtextbng extraborder" ng-model="gotCandidate.income6OwnForeignAF" size="12"></td>
          <td><input type="text" class="formtextbng extraborder" ng-model="gotCandidate.income6DepDomesticAF" size="12"></td>
          <td><input type="text" class="formtextbng extraborder" ng-model="gotCandidate.income6DepForeignAF" size="12"></td>
        </tr>
        <tr>
          <td align="center">৭</td>
          <td>চাকুরি</td>
          <td><input type="text" class="formtextbng extraborder" ng-model="gotCandidate.income7OwnDomesticAF" size="12"></td>
          <td><input type="text" class="formtextbng extraborder" ng-model="gotCandidate.income7OwnForeignAF" size="12"></td>
          <td><input type="text" class="formtextbng extraborder" ng-model="gotCandidate.income7DepDomesticAF" size="12"></td>
          <td><input type="text" class="formtextbng extraborder" ng-model="gotCandidate.income7DepForeignAF" size="12"></td>
        </tr>
        <tr>
          <td align="center">৮</td>
          <td>অন্য যে কোন উৎস (সুনির্দিষ্টভাবে উল্লেখ করুন)</td>
          <td><input type="text" class="formtextbng extraborder" ng-model="gotCandidate.income8OwnDomesticAF" size="12"></td>
          <td><input type="text" class="formtextbng extraborder" ng-model="gotCandidate.income8OwnForeignAF" size="12"></td>
          <td><input type="text" class="formtextbng extraborder" ng-model="gotCandidate.income8DepDomesticAF" size="12"></td>
          <td><input type="text" class="formtextbng extraborder" ng-model="gotCandidate.income8DepForeignAF" size="12"></td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <tr>
    <td align="center" colspan="3"><input class="formtextbng extraborder btn btn-primary" type="submit" name="submit_b" value="তথ্য সংরক্ষন" ng-click="ctrl.submit()"></td>
  </tr>
  </tbody></table>















<table class="table table-bordered">
  <tbody>

  <tr>
    <td align="center" colspan="2"><h1 class="style1">হলফনামা &nbsp; &nbsp; অংশ/পাতা - (২)</h1></td>
  </tr>

  <tr>
    <td colspan="2">৬. আমার, আমার উপর নির্ভশীল ব্যক্তি/ব্যক্তিবর্গের এবং আমার স্ত্রী/স্বামীর পরিসম্পদ এবং দায়ের বিবরণী:</td>
  </tr>

  <tr>
    <td align="center" colspan="2">
      (ক) অস্থাবর সম্পদ <span style="color:#FF0000; font-weight:bold;">|সব অংক ইংরেজীতে দিন|</span>
      <span ng-click="ctrl.submit()" class="pull-right btn btn-xs ng-binding btn-success"><i class="fa fa-floppy-o"></i> Save Order</span>
      <span ng-click="ctrl.changeCaseListOrder('asset_Material')" class="pull-right btn btn-xs ng-binding btn-success"><i class="fa fa-arrows-v"></i> Change Order</span>
    </td>
  </tr>

  <tr>
    <td style="width: 50px" class="tdvalign"><a class="btn btn-success" ng-click="ctrl.add_assetMaterialAF()" title="ADD MORE FIELD ">
      <i class="fa fa-plus"></i></a>&nbsp;
      <a class="btn btn-danger" ng-click="ctrl.delete_assetMaterialAF();" title="DELETE LAST FIELD ">
        <i class="fa fa-minus"></i></a></td>
    <td>
      <table class="table table-bordered">
        <tbody id="asset_Material" ui-sortable ng-model="gotCandidate.assetMaterialAF">
        <tr>
          <td  align="center">ক্রমিক নং</td>
          <td  style="width: 200px" align="center">মনোনয়ন দাখিলের তারিখে সম্পদের ধরণ</td>
          <td align="center">নিজ নমে(পরিমান)</td>
          <td  align="center">নিজ নমে(মূল্য)</td>
          <td  align="center">স্ত্রী/ স্বামীর নামে(পরিমান)</td>
          <td  align="center">স্ত্রী/ স্বামীর নামে(মূল্য)</td>
          <td  align="center">নির্ভরশীলদের নামে(পরিমান)</td>
          <td  align="center">নির্ভরশীলদের নামে(মূল্য)</td>
        </tr>
        <tr ng-repeat="assetMat in gotCandidate.assetMaterialAF">
          <td ng-model="assetMat.order" ng-init="assetMat.order=$index+1">{{assetMat.order|translate}}</td>
          <td style="width: 200px">
            <select ng-model="assetMat.type" style="width: 200px">
              <option value="cash_taka">নগদ টাকার পরিমাণ</option>
              <option value="foreign_currency">বৈদেশিক মুদ্রার পরিমাণ (মুদ্রার নামসহ)</option>
              <option value="bank_deposit">ব্যাংক ও আর্থিক প্রতিষ্ঠানে জমাকৃত অর্থের পরিমাণ</option>
              <option value="all_shares">বন্ড, ঋণপত্র, স্টক একচেঞ্জে তালিকাভুক্ত ও তালিকাভুক্ত নয় এমন কোম্পানীর শেয়ার (পরিমাণ, অর্জনকালীন সময়ের মূল্যসহ)</option>
              <option value="dps">পোষ্টাল, সেভিংস সার্টিফিকেটসহ বিভিন্ন ধরণের সঞ্চয় পত্রে বা স্থায়ী আমানতে বিনিয়োগের পরিমাণ</option>
              <option value="vehicles">বাস, ট্রাক, মটর গাড়ী ও মটর সাইকেল ইত্যাদির বিবরণী (পরিমাণ, অর্জনকালীন সময়ের মূল্যসহ)</option>
              <option value="cryptocurrency">ক্রিপটোকারেন্সি (আনুমানিক বাজার মূল্য)</option>
              <option value="gold_ornaments">স্বর্ণ ও অন্যান্য মূল্যবান ধাতু ও পাথর নির্মিত অলংকারাদি (পরিমাণ, অর্জনকালীন সময়ের মূল্যসহ)</option>
              <option value="electronic_goods">ইলেকট্রনিক সামগ্রীর বিবরণী (পরিমাণ, অর্জনকালীন সময়ের মূল্যসহ)</option>
              <option value="furnitures">আসবাবপত্রের বিবরণী মূল্যসহ</option>
              <option value="mobile_laptop">মোবাইল/ল্যাপটপ/কম্পিউটার (অর্জনকালীন সময়ের মূল্য)</option>
              <option value="business_capital">ব্যক্তিগত ব্যবসা প্রতিষ্ঠানে নিজস্ব মূলধন</option>
              <option value="weapons">অস্ত্রশস্ত্র</option>
              <option value="livestock">গবাদি পশু, হাঁস-মুরগি ও অন্যান্যের সংখ্যা ও মূল্য</option>
              <option value="others">অন্যান্য</option>
              <option value="total_movable">মোট অস্থাবর সম্পদ (১-১৩ নং ক্রমিকের যোগফল)</option>
              <option value="previous_year_movable">পূর্ববর্তী বছরের মোট অস্থাবর সম্পদ</option>
            </select>

          </td>
          <td><textarea class="formtextbng extraborder" lang="en" ng-model="assetMat.amountOwn" cols="15"  ></textarea></td>
          <td><input type="number" class="formtextbng extraborder" lang="en" ng-model="assetMat.priceOwn" cols="15" /></td>
          <td><textarea class="formtextbng extraborder" lang="en" ng-model="assetMat.amountHusbandWife" cols="15" ></textarea></td>
          <td><input type="number" class="formtextbng extraborder" lang="en" ng-model="assetMat.priceHusbandWife" cols="15" /></td>
          <td><textarea class="formtextbng extraborder" lang="en" ng-model="assetMat.amountDependants" cols="15" ></textarea></td>
          <td><input type="number" class="formtextbng extraborder" lang="en" ng-model="assetMat.priceDependants" cols="15" /></td>
        </tr>

        </tbody></table>
    </td>
  </tr>



  </tbody>
</table>







<table class="table table-bordered">
  <tbody>
  <tr>
    <td align="center" colspan="2">
      (খ) স্থাবর সম্পদ  <span style="color:#FF0000; font-weight:bold;">|সব অংক ইংরেজীতে দিন|</span>
      <span ng-click="ctrl.submit()" class="pull-right btn btn-xs ng-binding btn-success"><i class="fa fa-floppy-o"></i> Save Order</span>
      <span ng-click="ctrl.changeCaseListOrder('asset_Immaterial')" class="pull-right btn btn-xs ng-binding btn-success"><i class="fa fa-arrows-v"></i> Change Order</span>
    </td>
  </tr>

  <tr>

    <td>
      <table class="table table-bordered">
        <tbody id="asset_Immaterial" ui-sortable ng-model="gotCandidate.assetImmaterialAF">
        <tr>
          <td style="width: 15px" align="center">ক্রমিক নং</td>
          <td  style="width: 150px" align="center">সম্পদের বিবরণ</td>
          <td style="width: 50px" align="center">নিজ নমে(পরিমান)</td>
          <td style="width: 50px" align="center">নিজ নমে(মূল্য)</td>
          <td style="width: 50px" align="center">স্ত্রী/ স্বামীর নামে(পরিমান)</td>
          <td style="width: 50px" align="center">স্ত্রী/ স্বামীর নামে(মূল্য)</td>
          <td style="width: 50px" align="center">নির্ভরশীলদের নামে(পরিমান)</td>
          <td style="width: 50px" align="center">নির্ভরশীলদের নামে(মূল্য)</td>
          <td style="width: 50px" align="center">যৌথ মালিকানা(পরিমান)</td>
          <td style="width: 50px" align="center">যৌথ মালিকানা(মূল্য)</td>
          <td style="width: 50px" align="center">যৌথ মালিকার ক্ষেত্রে প্রার্থীর অংশ(পরিমান)</td>
          <td style="width: 50px" align="center">যৌথ মালিকার ক্ষেত্রে প্রার্থীর অংশ(মূল্য)</td>
        </tr>
        <tr ng-repeat="assetImMat in gotCandidate.assetImmaterialAF">
          <td style="width: 15px;" ng-model="assetImMat.order" ng-init="assetImMat.order=$index+1">{{assetImMat.order|translate}}</td>
          <td style="width: 150px;padding: 0;">
            <select ng-model="assetImMat.type" style="width: 150px">
              <option value="cultivated_land">কৃষি জমির পরিমাণ ও অর্জনকালীন সময়ে আর্থিক মূল্য</option>
              <option value="noncultivated_land">অকৃষি জমি ও অর্জনকালীন সময়ে আর্থিক মূল্য</option>
              <option value="building">দালান, আবাসিক/বাণিজ্যিক সংখ্যা অবস্থান ও অর্জনকালীন সময়ে আর্থিক মূল্য</option>
              <option value="house_apartment">বাড়ি/এপার্টমেন্টের সংখ্যা ও অর্জনকালীন সময়ে আর্থিক মূল্য</option>
              <option value="garden_farm">চা বাগান, রাবার বাগান, মৎস্য খামার ইত্যাদির মূল্য সংখ্যা ও আর্থিক পরিমাণ</option>
              <option value="others">অন্যান্য (বিস্তারিত বিবরণ বর্তমান মূল্যসহ)</option>
              <option value="total_immovable">মোট স্থাবর সম্পদ (১-৬ নং ক্রমিকের যোগফল)</option>
              <option value="previous_year_total">পূর্ববর্তী বছরের মোট স্থাবর সম্পদ</option>
            </select>

          </td>
          <td style="width: 50px;padding: 0;">
            <textarea class="formtextbng extraborder" lang="en" ng-model="assetImMat.amountOwn" cols="15"  ></textarea></td>
          <td style="width: 50px;padding: 0;">
            <input type="number" class="formtextbng extraborder" lang="en" ng-model="assetImMat.priceOwn" cols="15" /></td>
          <td style="width: 50px;padding: 0;">
            <textarea class="formtextbng extraborder" lang="en" ng-model="assetImMat.amountHusbandWife" cols="15" ></textarea></td>
          <td style="width: 50px;padding: 0;">
            <input type="number" class="formtextbng extraborder" lang="en" ng-model="assetImMat.priceHusbandWife" cols="15" /></td>
          <td style="width: 50px;padding: 0;">
            <textarea class="formtextbng extraborder" lang="en" ng-model="assetImMat.amountDependants" cols="15" ></textarea></td>
          <td style="width: 50px;padding: 0;">
            <input type="number" class="formtextbng extraborder" lang="en" ng-model="assetImMat.priceDependants" cols="15" /></td>

          <td style="width: 50px;padding: 0;">
            <textarea class="formtextbng extraborder" lang="en" ng-model="assetImMat.amountJointOwnership" cols="15" ></textarea></td>
          <td style="width: 50px;padding: 0;">
            <input type="number" class="formtextbng extraborder" lang="en" ng-model="assetImMat.priceJointOwnership" cols="15" /></td>
          <td style="width: 50px;padding: 0;">
            <textarea class="formtextbng extraborder" lang="en" ng-model="assetImMat.amountJointSharePart" cols="15" ></textarea></td>
          <td style="width: 50px;padding: 0;">
            <input type="number" class="formtextbng extraborder" lang="en" ng-model="assetImMat.priceJointSharePart" cols="15" /></td>
        </tr>

        </tbody></table>
    </td>
  </tr>
  <tr>
    <td style="width: 50px"  class="tdvalign">
      <a class="btn btn-success" ng-click="ctrl.add_assetImmaterialAF()" title="ADD MORE FIELD ">
        <i class="fa fa-plus"></i>
      </a>&nbsp;
      <a class="btn btn-danger" ng-click="ctrl.delete_assetImmaterialAF();" title="DELETE LAST FIELD ">
        <i class="fa fa-minus"></i>
      </a>
    </td>
  </tr>

  <tr>
    <td align="center" colspan="3"><input class="formtextbng extraborder btn btn-primary" type="submit" name="submit_b" value="তথ্য সংরক্ষন" ng-click="ctrl.submit()"></td>
  </tr>

  </tbody>
</table>



















<table class="table table-bordered">
  <tbody><tr>
    <td align="center"><h1>হলফনামা &nbsp; &nbsp; অংশ/পাতা - (৩)</h1></td>
  </tr>
  </tbody></table>

<table class="table table-bordered">
  <tbody>
  <tr>
    <td colspan="5"><strong>(গ) (১) দায়:</strong></td>
  </tr>
  <tr>
    <td width="8%" align="center">ক্রমিক</td>
    <td width="20%" align="center">আমার/আমার পরিবার</td>
    <td width="24%" align="center">দায়ের ধরন/প্রকৃতি</td>
    <td width="24%" align="center">দায়ের বিবরণ</td>
    <td width="24%" align="center">পরিমাণ <span style="color:#FF0000;">(ইংরেজীতে)</span></td>
  </tr>
  <tr>
    <td align="center">১</td>
    <td>আমার নামে</td>
    <td><input type="text" class="formtextbng extraborder" ng-model="gotCandidate.liability1TypeAF" size="20"></td>
    <td><input type="text" class="formtextbng extraborder" ng-model="gotCandidate.liability1DescAF" size="20"></td>
    <td><input type="number" class="formtextbng extraborder" ng-model="gotCandidate.liability1AmountAF" size="15"></td>
  </tr>
  <tr>
    <td align="center">২</td>
    <td>স্বামী/স্ত্রীর নামে</td>
    <td><input type="text" class="formtextbng extraborder" ng-model="gotCandidate.liability2TypeAF" size="20"></td>
    <td><input type="text" class="formtextbng extraborder" ng-model="gotCandidate.liability2DescAF" size="20"></td>
    <td><input type="number" class="formtextbng extraborder" ng-model="gotCandidate.liability2AmountAF" size="15"></td>
  </tr>
  <tr>
    <td align="center">৩</td>
    <td>সন্তানের নামে</td>
    <td><input type="text" class="formtextbng extraborder" ng-model="gotCandidate.liability3TypeAF" size="20"></td>
    <td><input type="text" class="formtextbng extraborder" ng-model="gotCandidate.liability3DescAF" size="20"></td>
    <td><input type="number" class="formtextbng extraborder" ng-model="gotCandidate.liability3AmountAF" size="15"></td>
  </tr>
  <tr>
    <td align="center">৪</td>
    <td>নির্ভরশীলদের নামে</td>
    <td><input type="text" class="formtextbng extraborder" ng-model="gotCandidate.liability4TypeAF" size="20"></td>
    <td><input type="text" class="formtextbng extraborder" ng-model="gotCandidate.liability4DescAF" size="20"></td>
    <td><input type="number" class="formtextbng extraborder" ng-model="gotCandidate.liability4AmountAF" size="15"></td>
  </tr>
  <tr>
    <td colspan="5"><small>(এই বিবৃতি জমা দেওয়ার সময় প্রয়োজনে অতিরিক্ত নথি সংযুক্ত করা যাইতে পারে।)</small></td>
  </tr>
  </tbody>
</table>

<table class="table table-bordered">
  <tbody>
  <tr>
    <td colspan="5"><strong>(গ) (২) সরকারি পাওনাদি:</strong></td>
  </tr>
  <tr>
    <td width="8%" align="center">ক্রমিক</td>
    <td width="20%" align="center">আমার/আমার পরিবার</td>
    <td width="24%" align="center">বিবরণ</td>
    <td width="24%" align="center">বর্তমান নয়</td>
    <td width="24%" align="center">পরিমাণ <span style="color:#FF0000;">(ইংরেজীতে)</span></td>
  </tr>
  <tr>
    <td align="center">১</td>
    <td>আমার নামে</td>
    <td>
      <select ng-model="gotCandidate.govDues1TypeAF">
        <option value="বাসভবন">বাসভবন</option>
        <option value="যানবাহন">যানবাহন</option>
        <option value="টেলিফোন">টেলিফোন</option>
        <option value="বিদ্যুৎ">বিদ্যুৎ</option>
        <option value="পৌর-কর">পৌর-কর</option>
        <option value="অন্যান্য">অন্যান্য</option>
      </select>
    </td>
    <td><input type="text" class="formtextbng extraborder" ng-model="gotCandidate.govDues1CurrentAF" size="15"></td>
    <td><input type="number" class="formtextbng extraborder" ng-model="gotCandidate.govDues1AmountAF" size="15"></td>
  </tr>
  <tr>
    <td align="center">২</td>
    <td>স্বামী/স্ত্রীর নামে</td>
    <td>
      <select ng-model="gotCandidate.govDues2TypeAF">
        <option value="বাসভবন">বাসভবন</option>
        <option value="যানবাহন">যানবাহন</option>
        <option value="টেলিফোন">টেলিফোন</option>
        <option value="বিদ্যুৎ">বিদ্যুৎ</option>
        <option value="পৌর-কর">পৌর-কর</option>
        <option value="অন্যান্য">অন্যান্য</option>
      </select>
    </td>
    <td><input type="text" class="formtextbng extraborder" ng-model="gotCandidate.govDues2CurrentAF" size="15"></td>
    <td><input type="number" class="formtextbng extraborder" ng-model="gotCandidate.govDues2AmountAF" size="15"></td>
  </tr>
  <tr>
    <td align="center">৩</td>
    <td>সন্তানের নামে</td>
    <td>
      <select ng-model="gotCandidate.govDues3TypeAF">
        <option value="বাসভবন">বাসভবন</option>
        <option value="যানবাহন">যানবাহন</option>
        <option value="টেলিফোন">টেলিফোন</option>
        <option value="বিদ্যুৎ">বিদ্যুৎ</option>
        <option value="পৌর-কর">পৌর-কর</option>
        <option value="অন্যান্য">অন্যান্য</option>
      </select>
    </td>
    <td><input type="text" class="formtextbng extraborder" ng-model="gotCandidate.govDues3CurrentAF" size="15"></td>
    <td><input type="number" class="formtextbng extraborder" ng-model="gotCandidate.govDues3AmountAF" size="15"></td>
  </tr>
  <tr>
    <td align="center">৪</td>
    <td>নির্ভরশীলদের নামে</td>
    <td>
      <select ng-model="gotCandidate.govDues4TypeAF">
        <option value="বাসভবন">বাসভবন</option>
        <option value="যানবাহন">যানবাহন</option>
        <option value="টেলিফোন">টেলিফোন</option>
        <option value="বিদ্যুৎ">বিদ্যুৎ</option>
        <option value="পৌর-কর">পৌর-কর</option>
        <option value="অন্যান্য">অন্যান্য</option>
      </select>
    </td>
    <td><input type="text" class="formtextbng extraborder" ng-model="gotCandidate.govDues4CurrentAF" size="15"></td>
    <td><input type="number" class="formtextbng extraborder" ng-model="gotCandidate.govDues4AmountAF" size="15"></td>
  </tr>
  <tr>
    <td colspan="5"><small>*স্বামী/স্ত্রী, পুত্র/কন্যা এবং পিতা/মাতাসহ আমার উপর নির্ভরশীলদের জন্য পৃথকভাবে সরকারের পাওনাদির বিবৃতি জমা দিতে হবে। প্রয়োজনে অতিরিক্ত নথি সংযুক্ত করা যাইতে পারে।</small></td>
  </tr>
  </tbody>
</table>

<table class="table table-bordered">
  <tbody>
  <tr>
    <td colspan="4"><strong>৮. প্রতিনিধিত্বের ইতিহাস:</strong></td>
  </tr>
  <tr>
    <td width="4%">&nbsp;</td>
    <td colspan="3"><div align="left">ক. আমি কখনো জাতীয় সংসদ সদস্য হিসেবে নির্বাচিত হইনি। যদি সঠিক হয়, (√)
      &nbsp;&nbsp;
      <label><input type="radio" ng-model="gotCandidate.neverElectedMpAF" value="yes"> হ্যা</label> &nbsp;&nbsp;
      <label><input type="radio" ng-model="gotCandidate.neverElectedMpAF" value="no"> না</label>
    </div></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan="3"><div align="left">খ. আমি পূর্বে সংসদ সদস্য হিসেবে নির্বাচিত হইয়াছিলাম:</div></td>
  </tr>
  <tr>
    <td class="tdvalign">
      <a class="btn btn-success" ng-click="ctrl.add_electionHistoryAF()" title="ADD MORE FIELD">
        <i class="fa fa-plus"></i></a>&nbsp;
      <a class="btn btn-danger" ng-click="ctrl.delete_electionHistoryAF();" title="DELETE LAST FIELD">
        <i class="fa fa-minus"></i></a>
    </td>
    <td colspan="3">
      <table class="table table-bordered">
        <tr>
          <td width="10%" align="center">ক্রমিক নং</td>
          <td width="30%" align="center">নির্বাচনের বছর</td>
          <td width="30%" align="center">নির্বাচনী এলাকা</td>
          <td width="30%" align="center">দলীয় নাম/স্বতন্ত্র</td>
        </tr>
        <tr ng-repeat="eh in gotCandidate.electionHistoryAF">
          <td align="center">{{($index+1) | translate}}</td>
          <td><input type="text" class="formtextbng extraborder" ng-model="eh.electionYear" size="15"></td>
          <td><input type="text" class="formtextbng extraborder" ng-model="eh.constituency" size="20"></td>
          <td><input type="text" class="formtextbng extraborder" ng-model="eh.partyName" size="20"></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan="3"><div align="left">গ. পূর্ববর্তী নির্বাচনে নির্বাচিত হওয়ার আগে ভোটারদের কাছে করা আমার প্রতিশ্রুতি এবং পূরণকৃত প্রতিশ্রুতির বিবরণ (প্রযোজ্য ক্ষেত্রে):</div></td>
  </tr>
  <tr>
    <td><div align="center"></div></td>
    <td>
    <table class="table table-bordered">
        <tr>
          <td width="10%" align="center">ক্রমিক নং</td>
          <td width="45%" align="center">নির্বাচনপূর্ব প্রতিশ্রুতিসমূহ</td>
          <td width="45%" align="center">অর্জনসমূহ</td>
        </tr>
        <tr ng-repeat="coac in gotCandidate.commitmentAndAchievementWhileMpAF">
        <td>{{($index+1) | translate}}</td>
        <td>
            <select ng-model="coac.commitment">
              <option value="development_of_power_system">বিদ্যুৎ ব্যবস্থার উন্নয়ন</option>
              <option value="development_of_educational_institutions">শিক্ষা প্রতিষ্টানের উন্নয়ন</option>
              <option value="development_of_communication_systems">যোগাযোগ ব্যবস্থার উন্নয়ন</option>
              <option value="development_of_medical_health_sector">চিকিৎসা/স্বাস্থ্য খাতের উন্নয়ন</option>
              <option value="development_of_water_resources">পানি সম্পদের উন্নয়ন</option>
              <option value="culvert_construction">কালভার্ট নির্মাণ</option>
              <option value="road_construction_renovation">রাস্তা নির্মাণ/ সংস্কার</option>
              <option value="tree_planting_programme">বৃক্ষ রোপন কর্মসূচী</option>
              <option value="park_construction">পার্ক নির্মাণ</option>
              <option value="bridge_construction">ব্রিজ নির্মাণ</option>
              <option value="sports_space_version">খেলাধূলার স্থান সংস্করণ</option>
              <option value="development_of_sanitation_arsenic_waste_disposal_system">স্যানিটেশন/ আর্সেনিক/পয়:নিস্কাশন ব্যবস্থার উন্নয়ন</option>
              <option value="rehabilitation_of_river_canal_ponds">নদী/খাল পুকুর সংস্কার</option>
              <option value="agricultural_development">কৃষি উন্নয়ন</option>
              <option value="development_of_internet_mobile_phone_services">ইন্টারনেট/মোবাইল/ফোন সেবার উন্নয়ন</option>
              <option value="other_social_activities">অন্যান্য সামাজিক কার্যক্রম</option>
            </select>
        </td>
        <td><textarea  ng-model="coac.achievement" cols="30" rows="2"></textarea></td>
      </tr>
      <tr><td colspan="3">
        <a class="btn btn-success" ng-click="ctrl.add_commitmentAndAchievementWhileMpAF()" title="ADD MORE FIELD ">
          <i class="fa fa-plus"></i></a>&nbsp;
        <a class="btn btn-danger" ng-click="ctrl.delete_commitmentAndAchievementWhileMpAF();" title="DELETE LAST FIELD ">
          <i class="fa fa-minus"></i></a>
      </td></tr>
    </table>
    </td>
  </tr>
  </tbody>
</table>

<table class="table table-bordered">
  <tbody>
  <tr>
    <td>৯</td>
    <td><div align="left">ঋণ সংক্রান্ত তথ্যাবলীঃ(অপ্রয়োজনীয় অংশ কাটিয়া দিন)</div></td>
  </tr>
  <tr>
    <td rowspan="3" class="tdvalign">
      <a class="btn btn-success" ng-click="ctrl.add_loanAF()" title="ADD MORE FIELD ">
        <i class="fa fa-plus"></i></a>&nbsp;
      <a class="btn btn-danger" ng-click="ctrl.delete_loanAF();" title="DELETE LAST FIELD ">
        <i class="fa fa-minus"></i></a>

    </td>
    <td><div align="left">(ক) আমি একক বা যৌথভাবে বা আমার উপর নির্ভরশীল কোন সদস্য অথবা কোন ব্যাংক
      বা আর্থিক প্রতিষ্ঠানের চেয়ারম্যান, ম্যানেজিং ডিরেক্টর বা ডিরেক্টর হওয়ার
      সুবাদে আমি কোন ব্যাংক বা আর্থিক প্রতিষ্ঠান হইতে কোন ঋণ গ্রহণ করি নাই।
      <input class="formtextbng extraborder" ng-model="gotCandidate.noLoansAF"  type="checkbox" ng-checked="gotCandidate.noLoansAF">
      &nbsp;&nbsp; (টিক মার্ক দিন) </div></td>
  </tr>
  <tr>
    <td><div align="left">(খ) আমি একক বা যৌথভাবে বা আমার উপর নির্ভরশীল কোন সদস্য অথবা কোন ব্যাংক বা
      আর্থিক প্রতিষ্ঠানের চেয়ারম্যান, ম্যানেজিং ডিরেক্টর বা ডিরেক্টর হওয়ার
      সুবাদে ঐ সব ব্যাংক বা আর্থিক প্রতিষ্ঠান হইতে
      গৃহীত ঋণের পরিমাণ নিম্নে উল্লেখ করিলামঃ </div></td>
  </tr>
  <tr><td>
    <table class="table table-bordered">
      <tbody><tr>
        <td width="40%" align="center">ঋণের ধরণ </td>
        <td width="16%" align="center">ব্যাংক/প্রতিষ্ঠানের নাম</td>
        <td width="14%" align="center">ঋণের পরিমান<span style="color:#FF0000; font-weight:bold;">(ইংরেজীতে)</span></td>
        <td width="16%" align="center">খোলাপী ঋণের পরিমাণ (যদি থাকে)<br>
          <span style="color:#FF0000; font-weight:bold;">(ইংরেজীতে)</span></td>
        <td width="14%" align="center">পূনঃ তফসিলী করণ করা হইয়া থাকিলে উহার সর্বশেষ তারিখ</td>
      </tr>
      <tr ng-repeat="laon in gotCandidate.loanAF">
        <td>
          <select ng-model="laon.loanType">
            <option value="single">একক</option>
            <option value="joint">যৌথ</option>
            <option value="dependants">নির্ভরশীল ব্যক্তি বা ব্যক্তিবর্গ</option>
            <option value="director_chairman">কোন প্রদিষ্ঠানের চেয়ারম্যান, ম্যানেজিং ডিরেক্টর বা ডিরেক্টর হওয়ার সুবাদে</option>
          </select>
        </td>
        <td><textarea class="formtextbng extraborder" ng-model="laon.bankOrganization" cols="20" rows="2" ></textarea></td>
        <td><input type="number" class="formtextbng extraborder" lang="en" ng-model="laon.loanAmount"   cols="15"/></td>
        <td><input type="number" class="formtextbng extraborder" lang="en" ng-model="laon.debitedLoanAmount"   cols="15"/></td>
        <td><textarea class="formtextbng extraborder" ng-model="laon.extendedLastDate"   cols="15" class="embed"></textarea></td>
      </tr>

      </tbody></table>  </td></tr>
  </tbody></table>

<table class="table table-bordered">
  <tbody>
  <tr>
    <td colspan="7"><strong>১০. সর্বশেষ আয়কর রিটার্ন জমার বিবরণ:</strong></td>
  </tr>
  <tr>
    <td width="5%" align="center">ক্রমিক নং</td>
    <td width="12%" align="center">আমার/আমার পরিবার</td>
    <td width="14%" align="center">সর্বশেষ আয়কর রিটার্ন দাখিলের বছর</td>
    <td width="14%" align="center">টিআইএন</td>
    <td width="18%" align="center">আয়কর রিটার্নে প্রদর্শিত আয়ের পরিমাণ</td>
    <td width="18%" align="center">আয়কর রিটার্নে প্রদর্শিত সম্পদের পরিমাণ</td>
    <td width="19%" align="center">প্রদত্ত আয়করের পরিমাণ</td>
  </tr>
  <tr>
    <td align="center">১</td>
    <td>আমার</td>
    <td><input type="text" class="formtextbng extraborder" ng-model="gotCandidate.taxReturn1YearAF" size="10"></td>
    <td><input type="text" class="formtextbng extraborder" ng-model="gotCandidate.taxReturn1TINAF" size="12"></td>
    <td><input type="number" class="formtextbng extraborder" ng-model="gotCandidate.taxReturn1IncomeAF" size="12"></td>
    <td><input type="number" class="formtextbng extraborder" ng-model="gotCandidate.taxReturn1AssetAF" size="12"></td>
    <td><input type="number" class="formtextbng extraborder" ng-model="gotCandidate.taxReturn1PaidAF" size="12"></td>
  </tr>
  <tr>
    <td align="center">২</td>
    <td>স্বামী/স্ত্রী</td>
    <td><input type="text" class="formtextbng extraborder" ng-model="gotCandidate.taxReturn2YearAF" size="10"></td>
    <td><input type="text" class="formtextbng extraborder" ng-model="gotCandidate.taxReturn2TINAF" size="12"></td>
    <td><input type="number" class="formtextbng extraborder" ng-model="gotCandidate.taxReturn2IncomeAF" size="12"></td>
    <td><input type="number" class="formtextbng extraborder" ng-model="gotCandidate.taxReturn2AssetAF" size="12"></td>
    <td><input type="number" class="formtextbng extraborder" ng-model="gotCandidate.taxReturn2PaidAF" size="12"></td>
  </tr>
  <tr>
    <td align="center">৩</td>
    <td>সন্তান</td>
    <td><input type="text" class="formtextbng extraborder" ng-model="gotCandidate.taxReturn3YearAF" size="10"></td>
    <td><input type="text" class="formtextbng extraborder" ng-model="gotCandidate.taxReturn3TINAF" size="12"></td>
    <td><input type="number" class="formtextbng extraborder" ng-model="gotCandidate.taxReturn3IncomeAF" size="12"></td>
    <td><input type="number" class="formtextbng extraborder" ng-model="gotCandidate.taxReturn3AssetAF" size="12"></td>
    <td><input type="number" class="formtextbng extraborder" ng-model="gotCandidate.taxReturn3PaidAF" size="12"></td>
  </tr>
  <tr>
    <td align="center">৪</td>
    <td>নির্ভরশীলদের</td>
    <td><input type="text" class="formtextbng extraborder" ng-model="gotCandidate.taxReturn4YearAF" size="10"></td>
    <td><input type="text" class="formtextbng extraborder" ng-model="gotCandidate.taxReturn4TINAF" size="12"></td>
    <td><input type="number" class="formtextbng extraborder" ng-model="gotCandidate.taxReturn4IncomeAF" size="12"></td>
    <td><input type="number" class="formtextbng extraborder" ng-model="gotCandidate.taxReturn4AssetAF" size="12"></td>
    <td><input type="number" class="formtextbng extraborder" ng-model="gotCandidate.taxReturn4PaidAF" size="12"></td>
  </tr>
  </tbody>
</table>

<table class="table table-bordered">
  <tbody><tr>
    <td>
      আমি, নিম্ন স্বাক্ষরকারী, ঘোষণা ও শপথ করিতেছি যে, সম্পূর্তি উপযুক্ত বিবরণীতে উল্লিখিত সব তথ্য আমার জ্ঞান ও বিশ্বাস অনুযায়ী সত্য এবং কোনো আয় ও সম্পত্তি বা সম্পত্তির তথ্য গোপন বা বাদ হয়নি এবং প্রদানকৃত দেয়া সমস্ত তথ্য এবং এর সঙ্গে সংযুক্ত সমস্ত দলিলাদি ও কাগজপত্র আমার জ্ঞান ও বিশ্বাসমতে সম্পূর্ণ সত্য ও নির্ভুল।</td>
  </tr>
  </tbody></table>



<table class="table table-bordered">
  <tbody><tr>
    <td width="27%">তারিখঃ (yyyy-mm-dd)</td>
    <td width="73%" align="left"> <span class="ui-datepicker-wrap">
      <input class="formtextbng extraborder" type="date" ng-model="gotCandidate.submitDateAF">
    </span> &nbsp;&nbsp;| ইংরেজীতে |
    </td>
  </tr>
  <tr>
    <td>মনোনীত প্রার্থীর স্বাক্ষর / টিপসহি</td>
    <td align="left"><input class="formtextbng extraborder" type="file" name="sigperson" disabled="disabled"></td>
  </tr>
  <tr>
    <td>ই-মেইল/মোবাইল ফোন নম্বর/ফোন নম্বর</td>
    <td align="left"><input class="formtextbng extraborder" type="text" size="50" ng-model="gotCandidate.emailMobilePhoneAF" placeholder="email@example.com / 01XXXXXXXXX"></td>
  </tr>
  <tr>
    <td>এতদদ্বারা জনাব / বেগম ( প্রার্থীর নাম )</td>
    <td align="left"><input class="formtextbng extraborder" type="text" size="50" readonly="readonly" ng-model="gotCandidate.candidateNameBnAF" ></td>
  </tr>
  <tr>
    <td>পিতা / স্বামীর নাম</td>
    <td align="left"><input class="formtextbng extraborder" type="text" size="50" ng-model="gotCandidate.fatherHusbandNameBnAF"  readonly="readonly" ></td>
  </tr>
  <tr>
    <td>মাতার নাম</td>
    <td align="left"><input class="formtextbng extraborder" type="text" size="50" ng-model="gotCandidate.motherNameBnAF" readonly="readonly" ></td>
  </tr>
  <tr>
    <td>ঠিকানা : </td>
    <td align="left"> <textarea class="formtextbng extraborder" ng-model="gotCandidate.addressBnAF" cols="55" rows="3"  readonly="readonly">।</textarea></td>
  </tr>
  <tr>
    <td>যিনি জনাব / বেগম ( সাক্তকারীর নাম )</td>
    <td align="left"><input class="formtextbng extraborder" ng-model="gotCandidate.identifierNameBnAF" size="50" type="text" ></td>
  </tr>
  <tr>
    <td>ঠিকানা: </td>
    <td align="left"><textarea class="formtextbng extraborder" ng-model="gotCandidate.identifierAddressBnAF" cols="55" rows="3" >চেম্বারঃ রুম নং-২১৫, আইনজীবী এনেক্স ভবন ১, কোর্ট হিল, চট্টগ্রাম।</textarea></td>
  </tr>
  <tr>
    <td>এর মাধ্যমে সনাক্তকৃত হইয়া অদ্য তারিখঃ (yyyy-mm-dd )</td>
    <td align="left"><input class="formtextbng extraborder" lang="en" type="text" size="20" ng-model="gotCandidate.ageAtSubmissionDateAF"  >
      &nbsp;&nbsp;বৎসর তারিখে আমার সম্মুখে শপথপূর্বক উপরে বর্নিত হলফনামা প্রদান করিয়াছেন। </td>
  </tr>
  <tr>
    <td>তারিখঃ (yyyy-mm-dd )</td>
    <td align="left"><input class="formtextbng extraborder" lang="en" type="text" size="20" ng-model="gotCandidate.lastDateAF"  ></td>
  </tr>
  <tr>
    <td>ম্যাজিস্ট্রেট /নোটারি পাবলিকের স্বাক্ষর</td>
    <td align="left"><input class="formtextbng extraborder" type="file" ng-model="gotCandidate.signatureNotariPublicAF"  disabled="disabled"></td>
  </tr>

  <tr>
    <td><strong >পিডিএফ ফাইল নাম</strong></td>
    <td><input lang="en" class="formtextbng extraborder" ng-model="gotCandidate.pdfFilePathAF" type="text"  ></td>
  </tr>

  <tr>
    <td ><strong >মন্তব্য</strong></td>
    <td>
      <textarea class="formtextbng extraborder" lang="en" ng-model="gotCandidate.reviewAF" type="text"  ></textarea>
    </td>
  </tr>
  <tr>
    <td align="center" colspan="3"><input class="formtextbng extraborder btn btn-primary" type="submit" name="submit_b" value="তথ্য সংরক্ষন" ng-click="ctrl.submit()"></td>
  </tr>
  </tbody></table>
