<style>
  body{
    /*font-size:10pt;*/
  }
  tr,td,th{
    border: 1px dotted;
  }
  th {
    font-size:9pt;
    font-family:SolaimanLipi;
    font-weight:normal;
    text-align:center;
  }
  td{
    font-size: 8pt;
    font-family:SolaimanLipi;
    font-weight:normal;
    text-align:center;
  }
  .hide{
    display: none;
  }
  .databorder{
    border-width:1px;
    border-spacing:0px;
    border-style:dotted;
    border-color:#CCCCCC;
    border-collapse:collapse;
  }
 .databorder tr,td,th{
    border-width:1px;
    padding:0px;
    border-style:dotted;
    border-color:#CCCCCC;
  }
</style>
<table  width="100%" border="1"  cellspacing="0" cellpadding="1" style="border-style:solid;">
  <div class="row">
     <div class="col-md-12 col-sm-12 col-xs-12">
       <div class="text-center ze-title2 ">
         <h3 ng-show="$root.locale.lang=='bn_BD'">{{candidateComparisonData[0].currentElection.currentElectionNameBn}}, {{ candidateComparisonData[0].electionSeat.seatNameBn}} {{"আসনের প্রতিদ্বন্দ্বী প্রার্থীদের তথ্যাবলী"}}</h3>
         <h3 ng-show="$root.locale.lang!='bn_BD'">{{candidateComparisonData[0].currentElection.currentElectionNameEn}}, {{ candidateComparisonData[0].electionSeat.seatNameEn}} {{"competitive candidate information"}}</h3>
         <p lang="{{$root.locale.lang}}">{{}}</p>
       </div>
     </div>
   </div>
  <tbody>
  <tr>
    <td>ক্রম</td>
    <td>প্রার্থীর নাম ও ঠিকানা</td>
    <td>শিক্ষাগত যোগ্যতা</td>
    <td>পেশা/ জীবিকা</td>
    <td>বর্তমানে কোন ফৌজদারী মামলায় অভিযুক্ত কিনা</td>
    <td>অতীতে কোন ফৌজদারী মামলা হয়েছে কিনা? মামলার ফলাফল কি?</td>
    <td>আয়ের উৎসসমূহ ও পরিমাণ (বাৎসরিক)
      <table width="100%" cellspacing="0" class="databorder">
        <tbody>
        <tr>
          <td rowspan="2">উৎস সমূহ</td>
          <td colspan="2">প্রার্থীর নিজের</td>
          <td colspan="2">নির্ভরশীল</td>
        </tr>
        <tr>
          <td>দেশের ভেতরে</td>
          <td>দেশের বাইরে</td>
          <td>দেশের ভেতরে</td>
          <td>দেশের বাইরে</td>
        </tr>
        </tbody>
      </table>
    </td>
    <td style="text-align:center;">প্রার্থী ও প্রার্থীর উপর নির্ভরশীলদের সম্পদের বিবরণ
      <table width="100%" cellspacing="0" class="databorder">
        <tbody>
        <tr>
          <td style="text-align:center;"> অস্থাবর সম্পদ
            <table width="100%" cellspacing="0" class="databorder">
              <tbody>
              <tr>
                <td style="text-align:center;">প্রার্থীর নিজের নামে</td>
                <td style="text-align:center;">স্ত্রী/নির্ভরশীল এর নামে</td>
              </tr>
              </tbody>
            </table>
          </td>
          <td style="text-align:center;">স্থাবর সম্পদ
            <table width="100%" cellspacing="0" class="databorder">
              <tbody>
              <tr style="text-align:center;">
                <td>নিজ নামে</td>
                <td>স্ত্রী/নির্ভরশীল এর নামে</td>
                <td>যৌথমালিকানায় প্রার্থীর অংশ</td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
    <td>প্রার্থীর দায়দেনাসমূহের বিবরণ
      <table width="100%" cellspacing="0" class="databorder">
        <tbody>
        <tr>
          <td align="center">
            বিবরণ
          </td>
          <td align="center">
            পরিমাণ
          </td>
        </tr>
        </tbody>
      </table>
    </td>
    <td>হলফনামায় বর্ণিত সর্বশেষ আয়কর রিটার্ন জমার বিবরণী
      <table width="100%" cellspacing="0" class="databorder">
        <tbody>
        <tr>
          <td>নাম</td>
          <td>বছর</td>
          <td>আয়</td>
          <td>সম্পদ</td>
          <td>কর প্রদান</td>
        </tr>
        </tbody>
      </table>
    </td>
    <td>প্রতিনিধিত্বের ইতিহাস
      <table width="100%" cellspacing="0" class="databorder">
        <tbody>
        <tr>
          <td>নির্বাচনের বছর</td>
          <td>নির্বাচনী এলাকা</td>
          <td>দলীয় নাম/স্বতন্ত্র</td>
        </tr>
        </tbody>
      </table>
    </td>
    <td>প্রার্থীর ঋণ সংক্রান্ত বিবরণী
      <table width="100%" cellspacing="0" class="databorder">
        <tbody>
        <tr>
          <td>ঋণের ধরণ</td>
          <td>ঋণের পরিমাণ</td>
          <td>আর্থিক প্রতিষ্ঠানের নাম</td>
          <td>খেলাপী ঋণ</td>
        </tr>
        </tbody>
      </table>
    </td>
    <td>আয়কর বিবরণীতে দাখিলকৃত
      <table width="100%" cellspacing="0" class="databorder">
        <tbody>
        <tr>
          <td>সম্পদ</td>
          <td>করযোগ্য আয়</td>
          <td>জীবনযাত্রার মান</td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>

  <tr>
    <td>
      <center>১</center>
    </td>
    <td>
      <center>২</center>
    </td>
    <td>
      <center>৩</center>
    </td>
    <td>
      <center>৪</center>
    </td>
    <td>
      <center>৫</center>
    </td>
    <td>
      <center>৬</center>
    </td>
    <td>
      <center>৭</center>
      <table width="100%" cellspacing="0" class="databorder">
        <tbody>
        <tr>
          <td>
            <center>৭(ক)</center>
          </td>
          <td>
            <center>৭(খ)</center>
          </td>
          <td>
            <center>৭(গ)</center>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
    <td>
      <table width="100%" cellspacing="0" class="databorder">
        <tbody>
        <tr>
          <td>
            <center>৮.১</center>
            <table width="100%" cellspacing="0" class="databorder">
              <tbody>
              <tr>
                <td>
                  <center>৮.১(ক)</center>
                </td>
                <td>
                  <center>৮.১(খ)</center>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
          <td>
            <center>৮.২</center>
            <table width="100%" cellspacing="0" class="databorder">
              <tbody>
              <tr>
                <td>
                  <center>৮.২(ক)</center>
                </td>
                <td>
                  <center>৮.২(খ)</center>
                </td>
                <td>
                  <center>৮.২(গ)</center>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
    <td>
      <center>৯</center>
    </td>
    <td>
      <center>১০</center>
      <table width="100%" cellspacing="0" class="databorder">
        <tbody>
        <tr>
          <td><center>১০(ক)</center></td>
          <td><center>১০(খ)</center></td>
          <td><center>১০(গ)</center></td>
          <td><center>১০(ঘ)</center></td>
          <td><center>১০(ঙ)</center></td>
          <td><center>১০(চ)</center></td>
        </tr>
        </tbody>
      </table>
    </td>
    <td>
      <center>১১</center>
      <table width="100%" cellspacing="0" class="databorder">
        <tbody>
        <tr>
          <td><center>১১(ক)</center></td>
          <td><center>১১(খ)</center></td>
          <td><center>১১(গ)</center></td>
        </tr>
        </tbody>
      </table>
    </td>
    <td>
      <center>১২</center>
      <table width="100%" cellspacing="0" class="databorder">
        <tbody>
        <tr>
          <td><center>১২(ক)</center></td>
          <td><center>১২(খ)</center></td>
          <td><center>১২(গ)</center></td>
          <td><center>১২(ঘ)</center></td>
        </tr>
        </tbody>
      </table>
    </td>
    <td>
      <center>১৩</center>
      <table width="100%" cellspacing="0" class="databorder">
        <tbody>
        <tr>
          <td align="center">১৩(ক)</td>
          <td align="center">১৩(খ)</td>
          <td align="center">১৩(গ)</td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>

  <!-- now main data rows begins -->
  <tr ng-repeat="tr_data in candidateComparisonData">

    <td>{{($index+1) | translate}}</td>
    <td><a target="_blank" ui-sref="front.candidateSearch.affidavit({id:tr_data.id})"><b>{{tr_data.candidateNameBnAF}}</b></a>

      <p class="edit-link"><a title="edit" target="_blank" ui-sref="app.candidates.addedit.editAffidavit({candidateId: tr_data.id})"><img ng-if="showImg" style="width: 25px"
        src="images/document_edit.png" border="0"></a></p>
      <br>
      দল: {{tr_data.politicalParty.partyNameBn}}
      <br>জন্মতারিখ: {{tr_data | getDob}}
      <br>পিতা: {{tr_data.fatherHusbandNameBnAF || tr_data.fatherNameBn}}
      <span ng-if="tr_data.husbandSpouseNameTR && tr_data.husbandSpouseNameTR.trim()"><br>স্বামী/স্ত্রী: {{tr_data.husbandSpouseNameTR}}</span>
      <br>
      মাতা: {{tr_data.motherNameBnAF}}
      <br>
      {{tr_data.addressBnAF || tr_data.presentAddressTR || tr_data.permanentAddressTR}}
    </td>
    <td>{{tr_data.highestDegreeBnAF}}</td>
    <td>
      <table width="100%" cellspacing="0" class="databorder" ng-if="tr_data.currentProfessionAF || tr_data.previousProfessionAF || tr_data.spouseProfessionAF || tr_data.spousePreviousProfessionAF">
        <tbody>
        <tr><td colspan="2" style="font-weight:bold; background:#e8e8e8;">৪/ আমার পেশার বিবরণী</td></tr>
        <tr style="font-weight:bold;">
          <td>বিবরণ</td>
          <td>পেশা</td>
        </tr>
        <tr>
          <td>আমার বর্তমান পেশা</td>
          <td>{{tr_data.currentProfessionAF}}</td>
        </tr>
        <tr>
          <td>আমার পূর্বতন পেশা</td>
          <td>{{tr_data.previousProfessionAF}}</td>
        </tr>
        <tr>
          <td>স্বামী/স্ত্রীর পেশা</td>
          <td>{{tr_data.spouseProfessionAF}}</td>
        </tr>
        <tr>
          <td>স্বামী/স্ত্রীর পূর্বতন পেশা</td>
          <td>{{tr_data.spousePreviousProfessionAF}}</td>
        </tr>
        </tbody>
      </table>
      <table width="100%" cellspacing="0" class="databorder" ng-if="tr_data.dependentsAF && tr_data.dependentsAF.length > 0" style="margin-top:5px;">
        <tbody>
        <tr><td colspan="2" style="font-weight:bold; background:#e8e8e8;">৫/ নির্ভরশীলদের পেশার তালিকা</td></tr>
        <tr style="font-weight:bold;">
          <td>নাম</td>
          <td>পেশা</td>
        </tr>
        <tr ng-repeat="dep in tr_data.dependentsAF">
          <td>{{dep.name}}</td>
          <td>{{dep.profession || dep.remarks}}</td>
        </tr>
        </tbody>
      </table>
      <span ng-if="!tr_data.currentProfessionAF && !tr_data.previousProfessionAF && !tr_data.spouseProfessionAF && !tr_data.spousePreviousProfessionAF">{{tr_data | getProfession}}</span>
    </td>
    <td>
      <ul>
        <li ng-repeat="presentLaw in tr_data.lawPresentAF">{{($index+1) | translate}} . {{presentLaw.whichLaw}} <br/>({{presentLaw.currentStatusResult}})
        </li>
      </ul>
      <!--{{tr_data.lawPresentAF}}-->
    </td>
    <td>
      <ul>
        <li ng-repeat="pastLaw in tr_data.lawPastAF">{{($index+1) | translate}}. {{pastLaw.whichLaw}}<br/> ({{pastLaw.currentStatusResult}})</li>
      </ul>
      <!--{{tr_data.lawPastAF}}-->
    </td>
    <td>
      <table width="100%"  cellspacing="0" class="databorder">
        <tr ng-repeat="income in tr_data.incomeSourceAF">
          <td width="20%"><span>{{income.type | translateKey}}</span></td>
          <td width="20%"><span ng-if="income.ownDomestic > 0 || (!income.ownDomestic && !income.ownForeign && income.own > 0)">{{(income.ownDomestic || income.own) | number:0 | translateNumber}}</span></td>
          <td width="20%"><span ng-if="income.ownForeign > 0">{{income.ownForeign | number:0 | translateNumber}}</span></td>
          <td width="20%"><span ng-if="income.dependentsDomestic > 0 || (!income.dependentsDomestic && !income.dependentsForeign && income.dependents > 0)">{{(income.dependentsDomestic || income.dependents) | number:0 | translateNumber}}</span></td>
          <td width="20%"><span ng-if="income.dependentsForeign > 0">{{income.dependentsForeign | number:0 | translateNumber}}</span></td>
        </tr>
        <tr style="font-weight:bold; background:#f5f5f5;">
          <td>মোট:</td>
          <td>{{tr_data | getTotalOwnDomestic | number:0 | translateNumber}}</td>
          <td>{{tr_data | getTotalOwnForeign | number:0 | translateNumber}}</td>
          <td>{{tr_data | getTotalDepDomestic | number:0 | translateNumber}}</td>
          <td>{{tr_data | getTotalDepForeign | number:0 | translateNumber}}</td>
        </tr>
      </table>
    </td>
    <td>
      <table width="100%"  cellspacing="0" class="databorder">
        <tbody>
        <tr>
          <td width="40%">
            <table width="100%"  cellspacing="0" class="databorder">
              <tbody>
              <tr ng-repeat="assetMaterial in tr_data.assetMaterialAF">
                <td width="50%">  <span>{{assetMaterial.type | translateKey}}:</span>
                  <br> <span ng-if="assetMaterial.amountOwn">{{assetMaterial.amountOwn | translateNumber}}</span>
                  <br> <span ng-if="assetMaterial.priceOwn ">{{assetMaterial.priceOwn | number:0 | translateNumber}}</span>
                </td>
                <td width="50%">
                  <span ng-if="assetMaterial.amountHusbandWife || assetMaterial.priceHusbandWife"><b>স্ত্রী:</b> {{assetMaterial.amountHusbandWife | translateNumber}} <span ng-if="assetMaterial.priceHusbandWife">({{assetMaterial.priceHusbandWife | number:0 | translateNumber}})</span></span>
                  <br ng-if="assetMaterial.amountDependants || assetMaterial.priceDependants">
                  <span ng-if="assetMaterial.amountDependants || assetMaterial.priceDependants"><b>নির্ভরশীল:</b> {{assetMaterial.amountDependants | translateNumber}} <span ng-if="assetMaterial.priceDependants">({{assetMaterial.priceDependants | number:0 | translateNumber}})</span></span>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
          <td width="60%">
            <table width="100%" cellspacing="0" class="databorder">
              <tbody>
              <tr ng-repeat="assetImmaterialAF in tr_data.assetImmaterialAF">
                <td width="25%"><span>{{assetImmaterialAF.type | translateKey}}:</span>
                  <br> <span>{{assetImmaterialAF.amountOwn | translateNumber}}</span>
                  <br> <span ng-if="assetImmaterialAF.priceOwn > 0">{{assetImmaterialAF.priceOwn | number:0 | translateNumber}}</span>
                </td>
                <td width="25%">
                  <span ng-if="assetImmaterialAF.amountHusbandWife || assetImmaterialAF.priceHusbandWife"><b>স্ত্রী:</b> {{assetImmaterialAF.amountHusbandWife | translateNumber}} <span ng-if="assetImmaterialAF.priceHusbandWife > 0">({{assetImmaterialAF.priceHusbandWife | number:0 | translateNumber}})</span></span>
                  <br ng-if="assetImmaterialAF.amountDependants || assetImmaterialAF.priceDependants">
                  <span ng-if="assetImmaterialAF.amountDependants || assetImmaterialAF.priceDependants"><b>নির্ভরশীল:</b> {{assetImmaterialAF.amountDependants | translateNumber}} <span ng-if="assetImmaterialAF.priceDependants > 0">({{assetImmaterialAF.priceDependants | number:0 | translateNumber}})</span></span>
                </td>
                <td width="25%" ng-if="assetImmaterialAF.amountJointOwnership || assetImmaterialAF.priceJointOwnership">
                  <b>যৌথ মালিকানা:</b>
                  <br> <span>{{assetImmaterialAF.amountJointOwnership | translateNumber}}</span>
                  <br> <span ng-if="assetImmaterialAF.priceJointOwnership > 0">{{assetImmaterialAF.priceJointOwnership | number:0 | translateNumber}}</span>
                </td>
                <td width="25%" ng-if="assetImmaterialAF.amountJointSharePart || assetImmaterialAF.priceJointSharePart">
                  <b>প্রার্থীর অংশ:</b>
                  <br> <span>{{assetImmaterialAF.amountJointSharePart | translateNumber}}</span>
                  <br> <span ng-if="assetImmaterialAF.priceJointSharePart > 0">{{assetImmaterialAF.priceJointSharePart | number:0 | translateNumber}}</span>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
    <td>
      <table width="100%"   cellspacing="0" class="databorder">
        <tbody>
        <tr><td colspan="3" style="font-weight:bold; background:#e8e8e8;">(গ)(১) দায়</td></tr>
        <tr ng-if="tr_data.liability1AmountAF > 0 || tr_data.liability1TypeAF || tr_data.liability1DescAF">
          <td><b>১ - আমার নামে</b></td>
          <td>{{tr_data.liability1TypeAF}}{{tr_data.liability1DescAF ? ': ' + tr_data.liability1DescAF : ''}}</td>
          <td>{{tr_data.liability1AmountAF | number:0 | translateNumber}}</td>
        </tr>
        <tr ng-if="tr_data.liability2AmountAF > 0 || tr_data.liability2TypeAF || tr_data.liability2DescAF">
          <td><b>২ - স্বামী/স্ত্রীর নামে</b></td>
          <td>{{tr_data.liability2TypeAF}}{{tr_data.liability2DescAF ? ': ' + tr_data.liability2DescAF : ''}}</td>
          <td>{{tr_data.liability2AmountAF | number:0 | translateNumber}}</td>
        </tr>
        <tr ng-if="tr_data.liability3AmountAF > 0 || tr_data.liability3TypeAF || tr_data.liability3DescAF">
          <td><b>৩ - সন্তানের নামে</b></td>
          <td>{{tr_data.liability3TypeAF}}{{tr_data.liability3DescAF ? ': ' + tr_data.liability3DescAF : ''}}</td>
          <td>{{tr_data.liability3AmountAF | number:0 | translateNumber}}</td>
        </tr>
        <tr ng-if="tr_data.liability4AmountAF > 0 || tr_data.liability4TypeAF || tr_data.liability4DescAF">
          <td><b>৪ - নির্ভরশীলদের নামে</b></td>
          <td>{{tr_data.liability4TypeAF}}{{tr_data.liability4DescAF ? ': ' + tr_data.liability4DescAF : ''}}</td>
          <td>{{tr_data.liability4AmountAF | number:0 | translateNumber}}</td>
        </tr>
        <tr ng-if="!tr_data.liability1AmountAF && !tr_data.liability2AmountAF && !tr_data.liability3AmountAF && !tr_data.liability4AmountAF && tr_data.liabilitiesDetailsBnAF">
          <td colspan="2">{{tr_data.liabilitiesDetailsBnAF}}</td>
          <td>{{tr_data.liabilitiesAmountAF | number:0 | translateNumber}}</td>
        </tr>
        <tr style="font-weight:bold; background:#f5f5f5;">
          <td colspan="2">মোট দায় (৭ গ(১))</td>
          <td>{{tr_data | getLiability | number:0 | translateNumber}}</td>
        </tr>
        <tr><td colspan="3" style="font-weight:bold; background:#e8e8e8;">(গ)(২) সরকারি পাওনাদি</td></tr>
        <tr>
          <td><b>১ - আমার নামে</b></td>
          <td>{{tr_data.govDues1TypeAF || 'উল্লেখ নাই'}}</td>
          <td>{{tr_data.govDues1AmountAF > 0 ? (tr_data.govDues1AmountAF | number:0 | translateNumber) : '-'}}</td>
        </tr>
        <tr>
          <td><b>২ - স্বামী/স্ত্রীর নামে</b></td>
          <td>{{tr_data.govDues2TypeAF || 'উল্লেখ নাই'}}</td>
          <td>{{tr_data.govDues2AmountAF > 0 ? (tr_data.govDues2AmountAF | number:0 | translateNumber) : '-'}}</td>
        </tr>
        <tr>
          <td><b>৩ - সন্তানের নামে</b></td>
          <td>{{tr_data.govDues3TypeAF || 'উল্লেখ নাই'}}</td>
          <td>{{tr_data.govDues3AmountAF > 0 ? (tr_data.govDues3AmountAF | number:0 | translateNumber) : '-'}}</td>
        </tr>
        <tr>
          <td><b>৪ - নির্ভরশীলদের নামে</b></td>
          <td>{{tr_data.govDues4TypeAF || 'উল্লেখ নাই'}}</td>
          <td>{{tr_data.govDues4AmountAF > 0 ? (tr_data.govDues4AmountAF | number:0 | translateNumber) : '-'}}</td>
        </tr>
        <tr style="font-weight:bold; background:#f5f5f5;">
          <td colspan="2">মোট সরকারি পাওনা (৭ গ(২))</td>
          <td>{{((tr_data.govDues1AmountAF || 0) + (tr_data.govDues2AmountAF || 0) + (tr_data.govDues3AmountAF || 0) + (tr_data.govDues4AmountAF || 0)) | number:0 | translateNumber}}</td>
        </tr>
        </tbody>
      </table>

    </td>
    <td>
      <table width="100%" cellspacing="0" class="databorder">
        <tbody>
        <tr ng-if="tr_data.taxReturn1YearAF || tr_data.taxReturn1IncomeAF">
          <td><b>আমার</b></td>
          <td>{{tr_data.taxReturn1YearAF | translateNumber}}</td>
          <td>{{tr_data.taxReturn1IncomeAF | number:0 | translateNumber}}</td>
          <td>{{tr_data.taxReturn1AssetAF | number:0 | translateNumber}}</td>
          <td>{{tr_data.taxReturn1PaidAF | number:0 | translateNumber}}</td>
        </tr>
        <tr ng-if="tr_data.taxReturn2YearAF || tr_data.taxReturn2IncomeAF">
          <td><b>স্বামী/স্ত্রী</b></td>
          <td>{{tr_data.taxReturn2YearAF | translateNumber}}</td>
          <td>{{tr_data.taxReturn2IncomeAF | number:0 | translateNumber}}</td>
          <td>{{tr_data.taxReturn2AssetAF | number:0 | translateNumber}}</td>
          <td>{{tr_data.taxReturn2PaidAF | number:0 | translateNumber}}</td>
        </tr>
        <tr ng-if="tr_data.taxReturn3YearAF || tr_data.taxReturn3IncomeAF">
          <td><b>সন্তান</b></td>
          <td>{{tr_data.taxReturn3YearAF | translateNumber}}</td>
          <td>{{tr_data.taxReturn3IncomeAF | number:0 | translateNumber}}</td>
          <td>{{tr_data.taxReturn3AssetAF | number:0 | translateNumber}}</td>
          <td>{{tr_data.taxReturn3PaidAF | number:0 | translateNumber}}</td>
        </tr>
        <tr ng-if="tr_data.taxReturn4YearAF || tr_data.taxReturn4IncomeAF">
          <td><b>নির্ভরশীলদের</b></td>
          <td>{{tr_data.taxReturn4YearAF | translateNumber}}</td>
          <td>{{tr_data.taxReturn4IncomeAF | number:0 | translateNumber}}</td>
          <td>{{tr_data.taxReturn4AssetAF | number:0 | translateNumber}}</td>
          <td>{{tr_data.taxReturn4PaidAF | number:0 | translateNumber}}</td>
        </tr>
        <tr ng-if="!tr_data.taxReturn1YearAF && !tr_data.taxReturn2YearAF && !tr_data.taxReturn3YearAF && !tr_data.taxReturn4YearAF">
          <td colspan="5" style="color:#999;">কোন তথ্য নেই</td>
        </tr>
        </tbody>
      </table>
    </td>
    <td>
      <table width="100%" cellspacing="0" class="databorder">
        <tbody>
        <tr ng-repeat="history in tr_data.electionHistoryAF">
          <td>{{history.electionYear | translateNumber}}</td>
          <td>{{history.constituency}}</td>
          <td>{{history.partyName}}</td>
        </tr>
        <tr ng-if="!tr_data.electionHistoryAF || tr_data.electionHistoryAF.length == 0">
          <td colspan="3" style="color:#999;">কোন তথ্য নেই</td>
        </tr>
        </tbody>
      </table>
    </td>
    <td>
      <table width="100%"  cellspacing="0" class="databorder">
        <tbody>
        <tr ng-repeat="loan in tr_data.loanAF">
          <td>{{loan.loanType | translateKey}}</td>
          <td>{{loan.loanAmount | number:0 | translateNumber}}</td>
          <td>{{loan.bankOrganization}}</td>
          <td>{{loan.debitedLoanAmount | number:0 | translateNumber}}</td>
        </tr>
        <tr ng-if="tr_data.loanAF.length > 0" style="font-weight:bold; background:#f5f5f5;">
          <td>মোট ঋণ</td>
          <td>{{tr_data | getTotalLoan | number:0 | translateNumber}}</td>
          <td></td>
          <td>{{tr_data | getTotalDefaultedLoan | number:0 | translateNumber}}</td>
        </tr>
        </tbody>
      </table>
    </td>

    <td>
      <table width="100%"   cellspacing="0" class="databorder">
        <tbody>
        <tr>
          <td style="text-align:left;">
            <span ng-if="tr_data._1_totalCapitalTR > 0"><b>ব্যবসায়িক মূলধন:</b> {{tr_data._1_totalCapitalTR | number:0 | translateNumber}}<br></span>
            <span ng-if="tr_data._2_notAgriLandHomePriceTR > 0"><b>অ-কৃষি সম্পদ:</b> {{tr_data._2_notAgriLandHomePriceTR | number:0 | translateNumber}}<br></span>
            <span ng-if="tr_data._3_agriLandPriceTR > 0"><b>কৃষি সম্পদ:</b> {{tr_data._3_agriLandPriceTR | number:0 | translateNumber}}<br></span>
            <span ng-if="tr_data._4_totalInvestTR > 0"><b>বিনিয়োগ:</b> {{tr_data._4_totalInvestTR | number:0 | translateNumber}}<br></span>
            <span ng-if="tr_data._5a_motorPriceTR > 0"><b>মোটরযান:</b> {{tr_data._5a_motorPriceTR | number:0 | translateNumber}}<br></span>
            <span ng-if="tr_data._6_ornamentsTR > 0"><b>অলংকার:</b> {{tr_data._6_ornamentsTR | number:0 | translateNumber}}<br></span>
            <span ng-if="tr_data._7_furnitureTR > 0"><b>আসবাবপত্র:</b> {{tr_data._7_furnitureTR | number:0 | translateNumber}}<br></span>
            <span ng-if="tr_data._8_electronicTR > 0"><b>ইলেকট্রনিক:</b> {{tr_data._8_electronicTR | number:0 | translateNumber}}<br></span>
            <span ng-if="tr_data._9_outOfBusinessTR.cash > 0"><b>নগদ:</b> {{tr_data._9_outOfBusinessTR.cash | number:0 | translateNumber}}<br></span>
            <span ng-if="tr_data._9_outOfBusinessTR.bank > 0"><b>ব্যাংক:</b> {{tr_data._9_outOfBusinessTR.bank | number:0 | translateNumber}}<br></span>
            <span ng-if="tr_data._9_outOfBusinessTR.other > 0"><b>অন্যান্য:</b> {{tr_data._9_outOfBusinessTR.other | number:0 | translateNumber}}<br></span>
            <span ng-if="tr_data._10_otherAssetsPriceTR > 0"><b>অন্যান্য সম্পদ:</b> {{tr_data._10_otherAssetsPriceTR | number:0 | translateNumber}}<br></span>
            <hr style="margin:2px 0;">
            <b>মোট সম্পদ:</b> {{tr_data._10_1_to_10_totalAssetTR | number:0 | translateNumber}}<br>
            <b>মোট দায়:</b> {{tr_data._11_totalLiabilitiesTR | number:0 | translateNumber}}
          </td>
          <td style="text-align:left;">
            <b>মোট আয়:</b> {{tr_data._12_10to11_totalTR | number:0 | translateNumber}}<br>
            <b>আরোপযোগ্য আয়কর:</b> {{tr_data._13ApplicableTaxTR | number:0 | translateNumber}}<br>
            <b>প্রদত্ত আয়কর:</b> {{tr_data._15_13_sub_14_givenTaxTR | number:0 | translateNumber}}
          </td>
          <td style="text-align:left;">
            <span ng-if="tr_data._1_personalCostTR > 0"><b>ব্যক্তিগত ও খাদ্য ব্যয়:</b> {{tr_data._1_personalCostTR | number:0 | translateNumber}}<br></span>
            <span ng-if="tr_data._3_residentialCostTR > 0"><b>বাসস্থান ব্যয়:</b> {{tr_data._3_residentialCostTR | number:0 | translateNumber}}<br></span>
            <span ng-if="tr_data._4_vehicleCostTR > 0"><b>যানবাহন ব্যয়:</b> {{tr_data._4_vehicleCostTR | number:0 | translateNumber}}<br></span>
            <span ng-if="tr_data._5_electricityBillTR > 0"><b>বিদ্যুৎ বিল:</b> {{tr_data._5_electricityBillTR | number:0 | translateNumber}}<br></span>
            <span ng-if="tr_data._9_childEducationalExpenseTR > 0"><b>সন্তান শিক্ষা ব্যয়:</b> {{tr_data._9_childEducationalExpenseTR | number:0 | translateNumber}}<br></span>
            <span ng-if="tr_data._15_familyExpenseTR.amount > 0"><b>পারিবারিক ব্যয়:</b> {{tr_data._15_familyExpenseTR.amount | number:0 | translateNumber}}<br></span>
            <span ng-if="tr_data._15_familyExpenseTR.noAdult > 0 || tr_data._15_familyExpenseTR.noChild > 0"><b>নির্ভরশীল সদস্য:</b> <span ng-if="tr_data._15_familyExpenseTR.noAdult > 0">{{tr_data._15_familyExpenseTR.noAdult | translateNumber}} পূর্ণ বয়স্ক</span><span ng-if="tr_data._15_familyExpenseTR.noAdult > 0 && tr_data._15_familyExpenseTR.noChild > 0">, </span><span ng-if="tr_data._15_familyExpenseTR.noChild > 0">{{tr_data._15_familyExpenseTR.noChild | translateNumber}} শিশু</span><br></span>
            <span ng-if="tr_data._15_familyExpenseTR.otherDonationsExpendituresDamages > 0"><b>দান/ব্যয়/ক্ষতি:</b> {{tr_data._15_familyExpenseTR.otherDonationsExpendituresDamages | number:0 | translateNumber}}<br></span>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <!-- now main data rows finished here -->
  </tbody>
</table>
<div class="mjh-add">তথ্য সমূহ সন্নিবেশনে সর্বোচ্চ সতর্কতা অবলম্বন করা হয়েছে। কোন তথ্যের অসংগতি পরিলক্ষিত হলে,
  নির্বাচন কমিশনের ওয়েব সাইটের তথ্যই সঠিক বলে পরিগণিত হবে।
  <br/>
  সুজন-সুশাসনের জন্য নাগরিক
  <br/>
  <span>হেরাল্ডিক হাইটস, ২/২, (লেভেল-৪, বি-৪), ব্লক-এ, মিরপুর রোড, মোহাম্মদপুর, ঢাকা -১২০৭।
ফোন: ৯১৩ ০৪৭৯ ও ৯১৪ ৬১৯৫, ফ্যাক্স: ৯১৪ ৬১৯৫</span>
</div>
