
<ul class="mjh-lists">
    <li ui-sref="front.candidateComparisonAffidavit.Asset-Comparison-Of-Own-Dependent">
      <div class="mjh-icon"><i class="fa fa-pie-chart"></i></div>
      <div class="mjh-iconDetail"><a ui-sref="front.candidateComparisonAffidavit.Asset-Comparison-Of-Own-Dependent">{{'Asset comparison of own, dependent'|translate}}</a></div>
    </li>
    <li ui-sref="front.candidateComparisonAffidavit.Income-Comparison-Of-Own-Dependent">
      <div class="mjh-icon"><i class="fa fa-pie-chart"></i></div>
      <div class="mjh-iconDetail"><a ui-sref="front.candidateComparisonAffidavit.Income-Comparison-Of-Own-Dependent">{{'Income comparison of own, dependent'|translate}}</a></div>
    </li>
    <li ui-sref="front.candidateComparisonAffidavit.Candidate-Income-Tax-And-Family-Expense">
      <div class="mjh-icon"><i class="fa fa-pie-chart"></i></div>
      <div class="mjh-iconDetail"><a ui-sref="front.candidateComparisonAffidavit.Candidate-Income-Tax-And-Family-Expense">{{'Candidate Income Tax and Family Expense'|translate}}</a></div>
    </li>
    <li ui-sref="front.candidateComparisonAffidavit.Liability-Comparison-Of-Own-Dependent">
      <div class="mjh-icon"><i class="fa fa-pie-chart"></i></div>
      <div class="mjh-iconDetail"><a ui-sref="front.candidateComparisonAffidavit.Liability-Comparison-Of-Own-Dependent">{{'Liability Comparison of own, dependent'|translate}}</a></div>
    </li>
    <li ui-sref="front.candidateComparisonAffidavit.Neat-Asset-Comparison-Of-Own-Dependent">
      <div class="mjh-icon"><i class="fa fa-pie-chart"></i></div>
      <div class="mjh-iconDetail"><a ui-sref="front.candidateComparisonAffidavit.Neat-Asset-Comparison-Of-Own-Dependent">{{'Neat Asset Comparison of own, dependent'|translate}}</a></div>
    </li>
    <!--<li>-->
    <!--<div class="mjh-icon"></div>-->
    <!--<div class="mjh-iconDetail"><a href="#">{{'See all National Elections'|translate}} >> </a></div>-->
    <!--</li>-->
</ul>

