
  <ul class="mjh-lists">
  <li ui-sref="front.candidateComparison.Estimated-Prices-Of-Immoveable-Properties-To-The-Among-Candidate">
    <div class="mjh-icon"><i class="fa fa-pie-chart"></i></div>
    <div class="mjh-iconDetail">
      <a  ui-sref-active="active" ui-sref="front.candidateComparison.Estimated-Prices-Of-Immoveable-Properties-To-The-Among-Candidate">{{'Estimated Prices of immoveable properties to the same candidate'|translate}}</a>
    </div>
  </li>
  <li ui-sref="front.candidateComparison.Estimated-Prices-Of-Dwelling-Houses-To-The-Among-Candidate">
    <div class="mjh-icon"><i class="fa fa-pie-chart"></i></div>
    <div class="mjh-iconDetail">
      <a  ui-sref-active="active" ui-sref="front.candidateComparison.Estimated-Prices-Of-Dwelling-Houses-To-The-Among-Candidate">{{'Estimated Prices of dwelling houses to the same candidate'|translate}}</a>
    </div>
  </li>
  <li ui-sref="front.candidateComparison.Estimated-Prices-Of-Other-Properties-To-The-Among-Candidate">
    <div class="mjh-icon"><i class="fa fa-pie-chart"></i></div>
    <div class="mjh-iconDetail">
      <a  ui-sref-active="active" ui-sref="front.candidateComparison.Estimated-Prices-Of-Other-Properties-To-The-Among-Candidate">{{'Estimated Prices of other properties to the same candidate'|translate}}</a>
    </div>
  </li>
  <li ui-sref="front.candidateComparison.Estimated-Annual-Liabilities-Of-The-Among-Candidate">
    <div class="mjh-icon"><i class="fa fa-pie-chart"></i></div>
    <div class="mjh-iconDetail">
      <a  ui-sref-active="active" ui-sref="front.candidateComparison.Estimated-Annual-Liabilities-Of-The-Among-Candidate">{{'Estimated Annual liabilities of the same candidate'|translate}}</a>
    </div>
  </li>
  <li ui-sref="front.candidateComparison.Estimated-Annual-Income-Of-The-Among-Candidate">
    <div class="mjh-icon"><i class="fa fa-pie-chart"></i></div>
    <div class="mjh-iconDetail">
      <a  ui-sref-active="active" ui-sref="front.candidateComparison.Estimated-Annual-Income-Of-The-Among-Candidate">{{'Estimated Annual income of the same candidate'|translate}}</a>
    </div>
  </li>
  <li ui-sref="front.candidateComparison.Estimated-Annual-Expenditures-Of-The-Among-Candidate">
    <div class="mjh-icon"><i class="fa fa-pie-chart"></i></div>
    <div class="mjh-iconDetail">
      <a  ui-sref-active="active" ui-sref="front.candidateComparison.Estimated-Annual-Expenditures-Of-The-Among-Candidate">{{'Estimated Annual expenditures of the same candidate'|translate}}</a>
    </div>
  </li>
  <li ui-sref="front.candidateComparison.Estimated-Price-Of-All-Properties-Of-The-Among-Candidate">
    <div class="mjh-icon"><i class="fa fa-pie-chart"></i></div>
    <div class="mjh-iconDetail">
      <a  ui-sref-active="active" ui-sref="front.candidateComparison.Estimated-Price-Of-All-Properties-Of-The-Among-Candidate">{{'Estimated Price of all properties of the same candidate'|translate}}</a>
    </div>
  </li>
</ul>

