<ul class="mjh-lists">
  <li ui-sref="front.electionAnalysis.Among-The-Candidates-In-A-Constituency-About-How-Much-Money-Spent">
    <div class="mjh-icon"><i class="fa fa-pie-chart"></i></div>
    <div class="mjh-iconDetail">
      <a ui-sref-active="active" ui-sref="front.electionAnalysis.Among-The-Candidates-In-A-Constituency-About-How-Much-Money-Spent">
        {{'Among the candidates in a constituency about how much money spent'|translate}}
      </a>
    </div>
  </li>
  <li ui-sref="front.electionAnalysis.Among-All-The-Candidates-For-300-Constituencies-About-Money-Spent-Percentage">
    <div class="mjh-icon"><i class="fa fa-pie-chart"></i></div>
    <div class="mjh-iconDetail">
      <a ui-sref-active="active" ui-sref="front.electionAnalysis.Among-All-The-Candidates-For-300-Constituencies-About-Money-Spent-Percentage">
        {{'Among all the candidates for 300 constituencies about money spent percentage'|translate}}
      </a>
    </div>
  </li>
  <li ui-sref="front.electionAnalysis.Between-The-Elected-Male-And-Female-Candidates-On-Average-Campaign-Expenses">
    <div class="mjh-icon"><i class="fa fa-pie-chart"></i></div>
    <div class="mjh-iconDetail">
      <a ui-sref-active="active" ui-sref="front.electionAnalysis.Between-The-Elected-Male-And-Female-Candidates-On-Average-Campaign-Expenses">
        {{'Between the elected male and female candidates on average campaign expenses'|translate}}
      </a>
    </div>
  </li>
</ul>
