
  <ul class="mjh-lists">
  <li ui-sref="front.candidateComparisonFSEE.Total-Probable-Income-Including-All-Sources-To-Meet-Election-Expenses-With-Same-Candidate">
    <div class="mjh-icon"><i class="fa fa-pie-chart"></i></div>
    <div class="mjh-iconDetail"><a ui-sref="front.candidateComparisonFSEE.Total-Probable-Income-Including-All-Sources-To-Meet-Election-Expenses-With-Same-Candidate">{{'Total probable income including all sources to meet election expenses with same candidate'|translate}}</a></div>
  </li>
  <li ui-sref="front.candidateComparisonFSEE.Total-Probable-Income-From-Donation-To-Meet-Election-Expenses-With-The-Same-Candidate">
    <div class="mjh-icon"><i class="fa fa-pie-chart"></i></div>
    <div class="mjh-iconDetail"><a ui-sref="front.candidateComparisonFSEE.Total-Probable-Income-From-Donation-To-Meet-Election-Expenses-With-The-Same-Candidate">{{'Total probable income from donation to meet election expenses with the same candidate'|translate}}</a></div>
  </li>
  <li ui-sref="front.candidateComparisonFSEE.All-The-Probable-Income-From-Loans-To-Meet-Election-Expenses-With-The-Same-Candidate">
    <div class="mjh-icon"><i class="fa fa-pie-chart"></i></div>
    <div class="mjh-iconDetail"><a ui-sref="front.candidateComparisonFSEE.All-The-Probable-Income-From-Loans-To-Meet-Election-Expenses-With-The-Same-Candidate">{{'All the probable income from loans to meet election expenses with the same candidate'|translate}}</a></div>
  </li>
  <li ui-sref="front.candidateComparisonFSEE.The-List-Of-Candidates-Of-Whom-Exceeds-The-Spending-Limits-To-Meet-Election-Expenses">
    <div class="mjh-icon"><i class="fa fa-pie-chart"></i></div>
    <div class="mjh-iconDetail"><a ui-sref="front.candidateComparisonFSEE.The-List-Of-Candidates-Of-Whom-Exceeds-The-Spending-Limits-To-Meet-Election-Expenses">{{'The list of candidates of whom exceeds the spending limits to meet election expenses'|translate}}</a></div>
  </li>
  <!--<li>-->
    <!--<div class="mjh-icon"><i class="fa fa-pie-chart"></i></div>-->
    <!--<div class="mjh-iconDetail"><a ui-sref="front.candidateSearch">{{'Neat Asset Comparison of own, dependent'|translate}}</a></div>-->
  <!--</li>-->
  <!--<li>-->
  <!--<div class="mjh-icon"></div>-->
  <!--<div class="mjh-iconDetail"><a href="#">{{'See all National Elections'|translate}} >> </a></div>-->
  <!--</li>-->
</ul>



