<ul class="mjh-lists">
  <li ui-sref="front.politicalPartyBaseComparison.Political-Parties-Spent-Money-For-Election">
    <div class="mjh-icon"><i class="fa fa-pie-chart"></i></div>
    <div class="mjh-iconDetail">
      <a ui-sref-active="active"  ui-sref="front.politicalPartyBaseComparison.Political-Parties-Spent-Money-For-Election">{{'Political Parties spent money for election'|translate}}</a>
    </div>
  </li>
  <li ui-sref="front.politicalPartyBaseComparison.Political-Party-Donations-To-Candidates">
    <div class="mjh-icon"><i class="fa fa-pie-chart"></i></div>
    <div class="mjh-iconDetail">
      <a ui-sref-active="active"  ui-sref="front.politicalPartyBaseComparison.Political-Party-Donations-To-Candidates">{{'Political Party donations to candidates'|translate}}</a>
    </div>
  </li>
  <li ui-sref="front.politicalPartyBaseComparison.Candidates-Got-Donations-By-Constituencies">
    <div class="mjh-icon"><i class="fa fa-pie-chart"></i></div>
    <div class="mjh-iconDetail">
      <a ui-sref-active="active"  ui-sref="front.politicalPartyBaseComparison.Candidates-Got-Donations-By-Constituencies">{{'Candidates, got donations(by Constituencies)'|translate}}</a>
    </div>
  </li>
  <li ui-sref="front.politicalPartyBaseComparison.Head-Wise-Political-Parties-Expenses">
    <div class="mjh-icon"><i class="fa fa-pie-chart"></i></div>
    <div class="mjh-iconDetail">
      <a ui-sref-active="active"  ui-sref="front.politicalPartyBaseComparison.Head-Wise-Political-Parties-Expenses">{{'Head wise Political parties Expenses'|translate}}</a>
    </div>
  </li>
</ul>
