<div ng-include="'modules/f-candidate-analysis/views/affidavit-menu.html'"></div>
<div class="about-detail-cont">
  <div class="jumbotron" lang="{{$root.locale.lang}}">
    <h2>{{'Commitment And Achievement analysis'|translate}}</h2>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-12" lang="{{$root.locale.lang}}">
      <div id="commitment-achievement-chart"></div>
    </div>
    <div class="col-xs-12 col-lg-12">
      <div class="clearfix">
        <h3 lang="{{$root.locale.lang}}" class="pull-left">{{'Total'|translate}} {{commitmentsAndAchievementsData.all.table.totalCandidate.total | translateNumber}} {{'Candidates Analysis Report' | translate}}</h3>
        <h3 class="btn btn-primary pull-right" ng-click="exportTable('exportable','occupation-analysis')">export excel</h3>
      </div>
      <div id="exportable">
        <div class="table-responsive">
          <table class="table table-hover table-bordered" lang="{{$root.locale.lang}}">
            <thead>
            <tr>
              <th>{{'Teams'|translate}}</th>
              <th>{{commitmentsAndAchievementsData.all.table._1.title}}</th>
              <th>{{commitmentsAndAchievementsData.all.table._2.title}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="tr_data in commitmentsAndAchievementsData.table">
              <td>{{tr_data.partyName}}</td>
                <td class="CellWithComment">
                  <p class="CellComment">
                  <span ng-repeat="candidateName in tr_data.data.table._1.commitments track by $index">1</span>
                  </p>
                </td>
              <td class="CellWithComment">
                <p class="CellComment">
                <span ng-repeat="candidateName in tr_data.data.table._2.achievements track by $index">2</span>
                </p>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--/.col-xs-6.col-lg-4-->
  </div><!--/row-->
</div>
