<div ng-include="'modules/f-candidate-analysis/views/affidavit-menu.html'"></div>
<div class="about-detail-cont">
  <div class="jumbotron" lang="{{$root.locale.lang}}">
    <h2>{{'Income Analysis'|translate}}</h2>
  </div>

  <!-- Domestic Income Section -->
  <div class="row" ng-if="incomeData.domestic">
    <div class="col-xs-12">
      <h3 lang="{{$root.locale.lang}}" style="color: #337ab7; border-bottom: 2px solid #337ab7; padding-bottom: 10px;">
        <i class="fa fa-home"></i> {{$root.locale.lang === 'bn_BD' ? 'দেশের ভিতরে আয়' : 'Domestic Income'}}
      </h3>
    </div>
    <div class="col-xs-12 col-lg-12" lang="{{$root.locale.lang}}">
      <div id="income-chart-domestic" style="height: 300px;"></div>
    </div>
    <div class="col-xs-12 col-lg-12">
      <div class="clearfix" style="margin-top: 20px;">
        <h3 lang="{{$root.locale.lang}}" class="pull-left">{{'Total'|translate}} {{incomeData.domestic.all.table.totalCandidate.total | translateNumber}} {{$root.locale.lang === 'bn_BD' ? 'প্রার্থীর বিশ্লেষণ' : 'Candidates Analysis'}}</h3>
        <h3 class="btn btn-primary pull-right" ng-click="exportTable('exportable-domestic','income-analysis-domestic')">export excel</h3>
      </div>
      <div id="exportable-domestic">
        <div class="table-responsive">
          <table class="table table-hover table-bordered" lang="{{$root.locale.lang}}">
            <thead>
            <tr>
              <th>{{$root.locale.lang === 'bn_BD' ? 'দলসমূহ' : 'Teams'}}</th>
              <th>{{incomeData.domestic.all.table._1.title}}</th>
              <th>{{incomeData.domestic.all.table._2.title}}</th>
              <th>{{incomeData.domestic.all.table._3.title}}</th>
              <th>{{incomeData.domestic.all.table._4.title}}</th>
              <th>{{incomeData.domestic.all.table._5.title}}</th>
              <th>{{incomeData.domestic.all.table._6.title}}</th>
              <th>{{incomeData.domestic.all.table.unknown.title}}</th>
              <th>{{'Total'|translate}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="tr_data in incomeData.domestic.table">
              <td>{{tr_data.partyName}}</td>
              <td class="CellWithComment">{{tr_data.data.table._1.total | translateNumber}}
                <p class="CellComment">
                 <span ng-repeat="candidateName in tr_data.data.table._1.candidate1 track by $index">{{candidateName}}</span>
                </p>
              </td>
              <td class="CellWithComment">{{tr_data.data.table._2.total | translateNumber}}
                <p class="CellComment">
                 <span ng-repeat="candidateName in tr_data.data.table._2.candidate2 track by $index">{{candidateName}}</span>
                </p>
              </td>
              <td class="CellWithComment">{{tr_data.data.table._3.total | translateNumber}}
                <p class="CellComment">
                 <span ng-repeat="candidateName in tr_data.data.table._3.candidate3 track by $index">{{candidateName}}</span>
                </p>
              </td>
              <td class="CellWithComment">{{tr_data.data.table._4.total | translateNumber}}
                <p class="CellComment">
                 <span ng-repeat="candidateName in tr_data.data.table._4.candidate4 track by $index">{{candidateName}}</span>
                </p>
              </td>
              <td class="CellWithComment">{{tr_data.data.table._5.total | translateNumber}}
                <p class="CellComment">
                 <span ng-repeat="candidateName in tr_data.data.table._5.candidate5 track by $index">{{candidateName}}</span>
                </p>
              </td>
              <td class="CellWithComment">{{tr_data.data.table._6.total | translateNumber}}
                <p class="CellComment">
                 <span ng-repeat="candidateName in tr_data.data.table._6.candidate6 track by $index">{{candidateName}}</span>
                </p>
              </td>
              <td class="CellWithComment">{{tr_data.data.table.unknown.total | translateNumber}}
                <p class="CellComment">
                 <span ng-repeat="candidateName in tr_data.data.table.unknown.candidate7 track by $index">{{candidateName}}</span>
                </p>
              </td>
              <td>{{tr_data.data.table.totalCandidate.total | translateNumber}}</td>
            </tr>
            <tr class="info">
              <th>{{'Total'|translate}}</th>
              <th>{{incomeData.domestic.all.table._1.total | translateNumber}}</th>
              <th>{{incomeData.domestic.all.table._2.total | translateNumber}}</th>
              <th>{{incomeData.domestic.all.table._3.total | translateNumber}}</th>
              <th>{{incomeData.domestic.all.table._4.total | translateNumber}}</th>
              <th>{{incomeData.domestic.all.table._5.total | translateNumber}}</th>
              <th>{{incomeData.domestic.all.table._6.total | translateNumber}}</th>
              <th>{{incomeData.domestic.all.table.unknown.total | translateNumber}}</th>
              <th>{{incomeData.domestic.all.table.totalCandidate.total | translateNumber}}</th>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <hr style="margin: 30px 0; border-top: 2px solid #ddd;" ng-if="incomeData.foreign">

  <!-- Foreign Income Section -->
  <div class="row" ng-if="incomeData.foreign">
    <div class="col-xs-12">
      <h3 lang="{{$root.locale.lang}}" style="color: #5cb85c; border-bottom: 2px solid #5cb85c; padding-bottom: 10px;">
        <i class="fa fa-globe"></i> {{$root.locale.lang === 'bn_BD' ? 'দেশের বাইরে আয়' : 'Foreign Income'}}
      </h3>
    </div>
    <div class="col-xs-12 col-lg-12" lang="{{$root.locale.lang}}">
      <div id="income-chart-foreign" style="height: 300px;"></div>
    </div>
    <div class="col-xs-12 col-lg-12">
      <div class="clearfix" style="margin-top: 20px;">
        <h3 lang="{{$root.locale.lang}}" class="pull-left">{{'Total'|translate}} {{incomeData.foreign.all.table.totalCandidate.total | translateNumber}} {{$root.locale.lang === 'bn_BD' ? 'প্রার্থীর বিশ্লেষণ' : 'Candidates Analysis'}}</h3>
        <h3 class="btn btn-success pull-right" ng-click="exportTable('exportable-foreign','income-analysis-foreign')">export excel</h3>
      </div>
      <div id="exportable-foreign">
        <div class="table-responsive">
          <table class="table table-hover table-bordered" lang="{{$root.locale.lang}}">
            <thead>
            <tr>
              <th>{{$root.locale.lang === 'bn_BD' ? 'দলসমূহ' : 'Teams'}}</th>
              <th>{{incomeData.foreign.all.table._1.title}}</th>
              <th>{{incomeData.foreign.all.table._2.title}}</th>
              <th>{{incomeData.foreign.all.table._3.title}}</th>
              <th>{{incomeData.foreign.all.table._4.title}}</th>
              <th>{{incomeData.foreign.all.table._5.title}}</th>
              <th>{{incomeData.foreign.all.table._6.title}}</th>
              <th>{{incomeData.foreign.all.table.unknown.title}}</th>
              <th>{{'Total'|translate}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="tr_data in incomeData.foreign.table">
              <td>{{tr_data.partyName}}</td>
              <td class="CellWithComment">{{tr_data.data.table._1.total | translateNumber}}
                <p class="CellComment">
                 <span ng-repeat="candidateName in tr_data.data.table._1.candidate1 track by $index">{{candidateName}}</span>
                </p>
              </td>
              <td class="CellWithComment">{{tr_data.data.table._2.total | translateNumber}}
                <p class="CellComment">
                 <span ng-repeat="candidateName in tr_data.data.table._2.candidate2 track by $index">{{candidateName}}</span>
                </p>
              </td>
              <td class="CellWithComment">{{tr_data.data.table._3.total | translateNumber}}
                <p class="CellComment">
                 <span ng-repeat="candidateName in tr_data.data.table._3.candidate3 track by $index">{{candidateName}}</span>
                </p>
              </td>
              <td class="CellWithComment">{{tr_data.data.table._4.total | translateNumber}}
                <p class="CellComment">
                 <span ng-repeat="candidateName in tr_data.data.table._4.candidate4 track by $index">{{candidateName}}</span>
                </p>
              </td>
              <td class="CellWithComment">{{tr_data.data.table._5.total | translateNumber}}
                <p class="CellComment">
                 <span ng-repeat="candidateName in tr_data.data.table._5.candidate5 track by $index">{{candidateName}}</span>
                </p>
              </td>
              <td class="CellWithComment">{{tr_data.data.table._6.total | translateNumber}}
                <p class="CellComment">
                 <span ng-repeat="candidateName in tr_data.data.table._6.candidate6 track by $index">{{candidateName}}</span>
                </p>
              </td>
              <td class="CellWithComment">{{tr_data.data.table.unknown.total | translateNumber}}
                <p class="CellComment">
                 <span ng-repeat="candidateName in tr_data.data.table.unknown.candidate7 track by $index">{{candidateName}}</span>
                </p>
              </td>
              <td>{{tr_data.data.table.totalCandidate.total | translateNumber}}</td>
            </tr>
            <tr class="info">
              <th>{{'Total'|translate}}</th>
              <th>{{incomeData.foreign.all.table._1.total | translateNumber}}</th>
              <th>{{incomeData.foreign.all.table._2.total | translateNumber}}</th>
              <th>{{incomeData.foreign.all.table._3.total | translateNumber}}</th>
              <th>{{incomeData.foreign.all.table._4.total | translateNumber}}</th>
              <th>{{incomeData.foreign.all.table._5.total | translateNumber}}</th>
              <th>{{incomeData.foreign.all.table._6.total | translateNumber}}</th>
              <th>{{incomeData.foreign.all.table.unknown.total | translateNumber}}</th>
              <th>{{incomeData.foreign.all.table.totalCandidate.total | translateNumber}}</th>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
