
<div class="jumbotron">
  <h1>Alliances</h1>
  <p></p>
</div>
<div class="row">
  <div class="col-xs-12 col-lg-12">
    <table id="box-table-a" summary="Employee Pay Sheet">
      <thead>
      <tr>
        <th scope="col">জোটনাম</th>
        <th scope="col">দলসমূহ</th>
        <th scope="col">নিবন্ধন তারিখ</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td rowspan="3">মহাজোট</td>
        <td>বাংলাদেশ আওয়ামী লীগ</td>
        <td>December 28, 2013</td>
      </tr>
      <tr>
        <td>বাংলাদেশ ওয়ার্কার্স পার্টি</td>
        <td>December 28, 2013</td>
      </tr>
      <tr>
        <td>জাতীয় সমাজতান্ত্রিক দল-জাসদ</td>
        <td>April 16, 2014</td>
      </tr>

      </tbody>
    </table>
  </div><!--/.col-xs-6.col-lg-4-->
</div><!--/row-->
